[2015-09-06 16:28] johanbaaij opened #1 "Gulpfile typo's/inconsistencies"
Thanks for these articles! Looking forward to the next parts, it's been very helpful so far.

There are a few mistakes in the Gulpfile;

* The tasks `compile-styles` and `compile-scripts` are later called as `compile-css` and `compile-js` by `gulp.watch`
* `gulp.watch` looks in `/sass/` while `compile-styles` looks in `/scss/`
* in part 2 of the series it says to create a `wp-content/themes/the-th

[2015-09-07 11:53] karellm commented on #1
@johanbaaij Thanks for pointing out the inconsistencies. I just pushed a fix to `master`.

[2015-09-07 11:53] #1 closed

[2015-09-07 21:31] johanbaaij opened #2 "scripts/install-plugins.sh no output?"
Me again :). When I run `docker-compose run wordpress /scripts/install-plugins.sh` I get no output in the terminal and no changes on my filesystem. I'm using boot2docker with MyBoot2docker in Windows 10. Any ideas what I could be doing wrong?

[2015-09-08 01:43] karellm commented on #2
Can you share the content of your `data/plugins` file?

[2015-09-08 09:00] johanbaaij commented on #2
certainly, at first i just had the following;

    advanced-custom-fields

but when I added a line like this;

    advanced-custom-fields
    google-sitemap-generator

I actually got an error

   Install advanced-custom-fields
   curl: (3) Illegal characters found in URL
   .zip.ZIP.or advanced-custom-fieldsed-custom-fields
   rm: cannot remove 'advanced-custom-fields\r.zip': No such file or direc

[2015-09-09 13:45] karellm commented on #2
@johanbaaij I'm not using Windows so it will be hard to help you. It looks like your editor uses `\r` rather than `\n` to create a new line. But as you can read here, it won't work on Linux (which is what is running your Wordpress install): http://stackoverflow.com/a/1761086/999540

I highly recommend you configure your editor to use linux-like settings and it should solve your problem.

[2015-09-14 15:25] karellm commented on #2
@johanbaaij Any luck with this?

[2015-09-14 19:07] johanbaaij commented on #2
@karellm thanks for your reply! i haven't gotten around to trying out your advice yet but you are probably right. will report back once i know more.

[2015-09-26 05:25] karellm commented on #2
Closing this for now, feel free to reopen if the bug persists.

[2015-09-26 05:25] #2 closed

[2015-11-09 12:09] motleydev opened #3 "None writeable permissions with chown /app/wp-content"
For some reason Wordpress was still asking for ftp permission to install plugins, when I modified the Dockerfile to chown /app instead it was ok. Any idea why?

[2015-11-09 14:37] #3 closed

[2015-11-10 01:14] karellm commented on #3
@motleydev Well your are not technically supposed to install plugins via wordpress. To make the project and environment reproducible, it is better to use the `data/plugins` file. You can see this documented [here](https://visible.vc/engineering/docker-environment-for-wordpress/).

[2015-11-10 12:58] motleydev commented on #3
ok, I get that. I'm having an issue with the image not downloading a fresh copy of wordpress. I tried deleting the old image it pulled but it always downloads an older version of WP. How can I get around that?

[2015-11-12 21:46] dsifford opened #4 "Dockerfile conflict + outdated(?) shell script"
Hi there.

First of all, excellent base image! I read your associated blog post and the way you have this set up is extremely clever.

Some issues I'm having are the following...

1. The `install-plugins` shell script you have in this repository is outdated and does not work. I think [this line](https://github.com/visiblevc/wordpress-starter/blob/master/scripts/install-plugins.sh#L9) needs to be u

[2015-11-13 04:48] karellm opened #5 "Do not include Wordpress in the Docker image"
The docker image presently includes Wordpress, causing it to be outdated. We need a way to grab the latest wordpress when we run a container.

[2015-11-13 04:49] karellm commented on #3
@motleydev It is indeed a problem. I opened a ticket #5

[2015-11-13 08:43] saschalalala opened #6 "Development or productive image?"
Hey there, I read your wordpress development blog post and set up this environment on my box.

I am quite happy with it (There are some possible tweaks in the scripts that I will look into later) but there is one thing that bugs me. In my comprehension, this is clearly an image with development in mind, not productive usage. So, for security/privacy reasons, I would (and did it here) only open the

[2015-11-13 23:53] karellm commented on #6
The Docker image and setup is definitely intended for local development, so security was not even a concern. We started working on a deploy flow with production images via Docker but it is not ready yet (and don't know when it will be).

That said, I don't understand your concern. Unless your development machine is accessible from the network, how could people even access it?

Also note that what

[2015-11-13 23:54] karellm commented on #4
@dsifford Thanks for reporting this, I will investigate over the weekend.

[2015-11-14 05:37] dsifford opened #7 "Preventing links from routing you from development site to actual deployed site?"
Hi again,

Still playing around with your image and I can't seem to figure out how one would prevent links from an imported site from navigating to the actual URL (instead of the local url).

For example, the hosted site I would like to work on has an 'about' page at `www.mysite.com/about`. The links on the local site take me to the actual about page rather than `mycontainerip:8080/about`.

Any id

[2015-11-14 05:45] karellm commented on #7
@dsifford We haven't written about this just yet. The simplest (but manual) way could be to install [WP migrate db](https://en-ca.wordpress.org/plugins/wp-migrate-db/). It will let you do the search and replace while exporting the DB. So you can get a dump of your local development ready for production (and vice versa).

[2015-11-14 06:03] dsifford commented on #7
Thanks for the tip. Not sure if that's going to work for me. Their pricing model is outrageous.

[2015-11-14 06:05] karellm commented on #7
@dsifford You can use the free plugin, it lets you export and find/replace. Though it does not let you import it but you can do that another way (cli, phpmyadmin...).

[2015-11-14 06:05] dsifford commented on #7
Ah, alright I'll give 'er a shot. Thanks for the help!

[2015-11-14 06:06] karellm commented on #7
We are not paying for the pro version. The local development image comes with a script to reload the DB. You can read about it in the blog post listed in the README.

[2015-11-14 07:51] saschalalala commented on #6
Well, I know that I can change all these settings on my own. I just believe that providing default configs that are as secure as possible is a good idea in general. My development workstation is a laptop, so I am working on many different places (open wifi, freifunk, eduroam, work …) and I usually have a firewall (firewalld) running in Fedora23, all ports closed. Docker uses iptables to provide ne

[2015-11-14 14:46] karellm commented on #6
@saschalalala I invite you to make a PR, I will definitely merge one providing higher security standards.

[2015-11-14 20:25] dsifford commented on #7
@karellm You are a wizard, my friend. Your solution works wonderfully. Thank you!

On a different note: Let me know if your dockerhub Dockerfile is different than the one in this repo. Still having issues there (re: #4 ).

Cheers! :beers:

[2015-11-14 20:25] #7 closed

[2015-11-22 14:48] karellm commented on #4
@dsifford I will close this for now. I pushed the plugin fix.

[2015-11-22 14:48] #4 closed

[2015-11-22 14:49] karellm commented on #5
Done in `master`

[2015-11-22 14:49] #5 closed

[2015-11-22 14:49] karellm commented on #6
Done in `master` for mysql.

[2015-11-22 14:49] #6 closed

[2015-12-16 04:10] GForceWeb opened #10 "docker-compose up halts after database setup"
Running Docker on Windows 10 using the Docker Toolbox https://www.docker.com/docker-toolbox

When running docker-compose up it starts ok until it creates the databse at which point the script appears to get stuck. Last output lines included below:

[code]

Know why it would be getting stuck here and/or encountered this before?

[2015-12-18 15:32] karellm commented on #10
@GForceWeb It does not look like you are stuck. All looks ok. It tells you that the `Database setup!`. Keep in mind that it is a server so it keeps running.

[2015-12-26 15:52] karellm commented on #10
Closing for now since it does not look like an issue with the project. If the issue persist, feel free to comment below.

[2015-12-26 15:52] #10 closed

[2016-01-16 14:03] stefanvermaas opened #11 "Access denied"
Hi guys,

I came across your wordpress-starter guide and I wanted to try it out. Though I found that simple running `docker-compose up` after cloning the repo doesn't seem to "work".

It fails when the database is initialized.

This is the code output, any ideas how to fix this? Because as you can see the project doesn't use the correct address, but I've got no idea where to change it to the corre

[2016-01-19 21:21] karellm commented on #11
@stefanvermaas Can you tell me about the environment you are running this on? Also could you share with me the result of this command: `docker-compose run wordpress env`?

[2016-01-19 21:33] stefanvermaas commented on #11
Hi @karellm,

This is the output:

[code]

[2016-01-19 21:39] karellm commented on #11
What OS and docker setup are you running the project from? Also, are you sure you haven't touched anything? I just cloned it and it runs fine for me.

[2016-01-19 21:44] stefanvermaas commented on #11
I'm absolutely sure I didn't touch anything, except changing the name of the project. So instead of `git clone https://github.com/visiblevc/wordpress-starter the-project` I did `git clone https://github.com/visiblevc/wordpress-starter my-project`. That's the only change.

I'm on `OS X - El Capitan (10.11.2)`, with the `Docker version 1.9.1, build a34a1d5`.

I just cloned it again to test it, and i

[2016-01-19 22:28] karellm commented on #11
I just upgraded to `1.9.1` to test and still works. Do you have other Docker project that run properly?

[2016-01-19 22:36] stefanvermaas commented on #11
To be honest: no. This is the first project for which I'm trying Docker. Although the tutorial on the docker website did work.

[2016-01-19 22:54] karellm commented on #11
I will test on a fresh docker machine tomorrow. It might be that I forgot to push the latest image to docker hub. I will also make sure to lock version to avoid that issue.

[2016-01-20 09:36] stefanvermaas commented on #11
Thanks for looking into it! I'll await your answer :)

[2016-01-23 18:27] vlkz opened #12 "wp-content folder permission issues"
wp-content is `root:root`

The subfolders are `www-data:www-data`

When I go into `wp-content/` and `mkdir themes` I get access denied.

Any suggested solutions?

[2016-01-25 17:41] karellm commented on #12
@vlkz Can you describe where you `mkdir themes` and what you are trying to achieve?

[2016-01-25 19:41] vlkz commented on #12
@karellm I'm trying to begin developing a wordpress theme.

I clone this repo, cd into repo's folder, do ```docker-compose up```, wait for it finish.

Visit ```localhost:8080```, go through the wordpress setup.

From another terminal I cd to the repo's directory, a new folder has been created, ```wp-content```, so I cd into it, no ```themes``` folder exists so I try to create it with ```mkdir them

[2016-01-26 02:21] karellm commented on #12
@vlkz I invite you to follow the [tutorial](https://visible.vc/engineering/docker-environment-for-wordpress/). If you are not familiar with Docker, it might be a slightly weird process. If you have questions about any step of the tutorial, please let me know.

[2016-01-29 03:01] karellm commented on #12
Closing this, please reopen if you are having an issue with the tutorial.

[2016-02-03 23:57] limeyd opened #13 "wp-content/uploads permission denied when uploading media"
O+G are root:root not www-data:www-data How are you guy's handling this?

[2016-02-04 17:53] karellm commented on #13
@limeyd Can you detail your tickets a little bit more? It is hard to understand what your problem is in the first place.

[2016-03-08 00:43] dsifford opened #16 "Various build pipeline changes discussion"
(See #15 for the beginning of this conversation)

@karellm I'd be happy to collab on this if you'd like. Look over [my fork](https://github.com/dsifford/wordpress) and let me know what you think.

It's also an [automated build](https://hub.docker.com/r/dsifford/wordpress/builds/) on Dockerhub

Short on time at the moment, but I'll chime in with a full description of what I changed later on.

[2016-03-08 02:12] karellm commented on #11
@stefanvermaas Sorry for the long delay. We just updated the project to work with Docker-Compose 1.6+. Could you update your version of docker and docker-compose and test again?

Make sure you grab the latest image too. It should be `0.2.0`.

[2016-03-08 02:49] karellm commented on #16
Does file upload work in your fork? Because the app is inside a volume, it is impossible to set the proper permissions. I was curious if you found a solution to that issue?

[2016-03-08 04:22] dsifford commented on #16
@karellm Not at the moment, but I think I know know why.. Giving it a shot now. I'll let you know.

[2016-03-08 05:20] dsifford commented on #16
@karellm Yep... I figured it out.

See here for the fix: dsifford/wordpress@0ab80244c4a686de841c7fedd35c843112b490a2

[2016-03-08 05:33] dsifford commented on #16
@karellm Actually, put a pin in that for now.. This works, but it's in the wrong direction.. I'll make the proper fix tomorrow sometime.

[2016-03-08 17:31] dsifford commented on #16
@karellm Done. dsifford/wordpress@18be581c7f4b253c0341155566736d3604b4b417

also check out the latest commit -- added an automatic method for replacing urls on build.

[2016-03-09 05:24] dsifford commented on #16
@karellm I feel like I'm yappin' your ear off, but I just wanted to mention that I just did a huuuuuuuge build script refactor in favor of wp-cli. This repo uses mysql directly, which is fine, but I figured that if we already have wp-cli installed, we might as well take advantage of it...

Check it out here: dsifford/wordpress@b7c91cc8f12b349fe82f412d3b3a3264c62ec1c9

[2016-03-09 13:59] karellm commented on #16
@dsifford No please keep it coming, I just have limited bandwidth these days. Would you be interested in collaborating directly here? Internally at Visible we rely heavily on PRs to have discussions and review code. I haven't done it before in this repo since I was the only contributor but would love to switch to that flow.

I always find silly to spread the OS effort, especially on projects that

[2016-03-09 17:24] dsifford commented on #16
@karellm Sure. Although, my fork is a bit different than this (my scripts folder only has 3 files since I combined a few of the scripts you have). How did you want me to PR the changes?

The last thing I need to work on before I'll be satisfied enough to call it done is I need to build in a check to grab IP addresses from people running docker through docker-machine. That way the URLs can be chang

[2016-03-10 15:22] karellm commented on #16
@dsifford The issue with a single script is that in development, you can't switch DB anymore. Sure you can kill the containers and volumes and start new ones but I don't think it is ideal.

For the machine IP address, I personally forward VBox ports and use `localhost:8080` on my host machine. I don't think the project should include OS specific code, plus it is just a matter of running something

[2016-03-10 18:49] dsifford commented on #11
@stefanvermaas I know what the problem is. I'll include the fix in the next PR. Follow the discussion on #16

[2016-03-10 18:50] dsifford commented on #13
@limeyd I know what the problem is. I'll include on the next PR.. Follow the discussion on #16

[2016-03-10 18:56] dsifford commented on #16
@karellm To address your comments in order:

Yes you can. All you need to do is drop a new`.sql` file into the data folder and then run `docker exec -it $(docker ps -lq) /bin/bash -c wp db import --allow-root`

I agree. The goal was to be able for the build to detect the user's IP during build and then replace the URLs from the data backup automatically. Definitely a luxury, so it's not a huge dea

[2016-03-11 00:28] dsifford commented on #16
@karellm So, I'll be honest -- I'm far too lazy to retroactively apply each of the changes one-by-one.

I'm going to create a PR now including the big master change to `run.sh` and adjust the Dockerfile and we can discuss line by line there. (Hope that's okay).

[2016-03-11 00:29] karellm commented on #16
Sounds good to me!

[2016-03-13 15:02] dsifford opened #19 "Make this an automated build on Dockerhub"
Happy to help if you're not sure how to go about doing it.

[2016-03-15 23:12] #13 closed

[2016-03-17 20:30] dsifford commented on #19
@karellm Thoughts on this? This is the last thing I'll need before depreciating my fork

[2016-03-17 20:33] karellm commented on #19
I want to but our we are waiting to regain access to our Docker Hub account (reset password does not work). Why do you need it?

[2016-03-17 20:34] dsifford commented on #19
I prefer that because it ensures that I'll always have the latest version of the image and negates the need for anything other than a `docker-compose.yml` file.

[2016-03-20 15:32] dsifford commented on #19
@karellm On sort of this same topic, what are your thoughts on changing the name of this repo from `visiblevc/wordpress-starter` to `visibilevc/wordpress`?

Two reasons:
1. Less verbose and easier to type into a from-scratch compose file
2. I think this is quickly becoming more than just a "starter" orchestration! :metal:

Let me know your thoughts.

Also, any updates on getting into your dockerhu

[2016-03-20 15:44] karellm commented on #19
I don't like project that name themselves after another OS project. It is not a fork of wordpress, so I don't think it should be named `wordpress`. The image is named wordpress but that's clear by the nature of Docker and images.

As to automated builds, I looked into them and can't see a reason for them. With our current flow, I disagree that master should always result in a build (keep in mind t

[2016-03-20 15:51] dsifford commented on #19
@karellm I was imagining that after we get through the meat of the recent changes, we could create release branches.

Once we're ready to release a new version, just create a branch called with the semver name and have those branches build automatically. You don't have to automatic build master if you don't want to. Each new build would also effectively be tagged the branch name (so, kills two bir

[2016-03-22 02:26] karellm commented on #16
I think we addressed most of what's in here. Closing this but feel free to open new tickets on specific features.

[2016-03-22 02:26] #16 closed

[2016-03-22 02:34] karellm commented on #11
@stefanvermaas Can you please try the latest version of the project. `0.3.0` shouldn't have this issue. Note that a lot changed so might want to reread the tutorial.

[2016-03-22 02:34] #11 closed

[2016-03-22 08:19] stefanvermaas commented on #11
I'll try it tomorrow night! Thanks for the heads up.

[2016-03-30 23:24] markw01 opened #23 "Cannot connect to MySQL"
I'm running this as per the instructions in the Getting Started section and I get an error when attempting to connect to the database (see below).  I've tried a few different ways to connect to the database but can't see to (e.g. attempting to add a phpmyadmin container).  Not sure if this is a local environment issue or not.  Any pointers would be greatly appreciated.

Current versions of docker

[2016-03-31 21:38] karellm commented on #23
@markw01 It looks like you are using the old image. Please make sure you pull the latest by running `docker pull visiblevc/wordpress`

[2016-03-31 22:23] markw01 commented on #23
Thank you @karellm works a charm.

[2016-03-31 22:23] #23 closed

[2016-04-10 17:32] joggienl opened #24 "Why removing .git, Dockerfile and run.sh?"
Thanks for sharing this project! Has some great improvements over "normal" wordpress template development (that's why I would want to use this project)...

I have a question though, the readme file states that you should invoke 'rm -rf .git Dockerfile run.sh' to delete a couple of files. Why is that, it doen't seem necessary?

[2016-04-10 17:55] karellm commented on #24
This repository does 2 things:

1. Include the files to create a Docker image
2. Include build tools to develop themes

If you don't plan to build the Docker image yourself, you shouldn't care for 1. We publish the image on Docker Hub and you can grab it directly from there. You basically will never need to build it unless you need to modify it (which you shouldn't need to do 99% of the cases). Th

[2016-04-10 17:55] #24 closed

[2016-04-10 19:23] joggienl commented on #24
Thanks for explaining. I think this is valuable information for including in the general documentation (to be able to start using and understanding the project)!

Just a thought of me.. have you ever thought of making a sort of CLI, or something like a yeoman generator for this project? That would ovoid the .git folder "problem". There's indeed no benefit keeping the repository ties. If I would li

[2016-04-11 14:02] karellm commented on #24
@joggienl I have added a note to the `README`.

As to a CLI, it feels overkill to me. It would obfuscate what's going on and introduce apparent complexity when in reality we just remove files:

- You want your own project? Remove `.git`, `README.md` and `CHANGELOG.md`
- You don't want gulp? Remove `gulpfile.js` and `gulp.json.example`
- You don't want docker? You probably aren't in the right place

[2016-04-11 15:06] joggienl commented on #24
@karellm I saw the update, nice! Thanks.

The .git part actually somehow put me on the wrong track in my mind. Your setup makes the project very flexible indeed. At this point I agree that making it an CLI or generator doesn't add to the projects goal.

I've thought a little bit more about my previous mention about a CLI or generator. From theme development point of view (or frontend), I do think

[2016-04-11 15:41] karellm commented on #24
@joggienl Arguably we could have 2 repositories, one for the Dockerfile and image generation and one for a generator. If you want to take a stab at a CLI or generator I'm happy to discuss it and assist. Though I can't start that project right now.

[2016-04-14 00:38] e2 opened #25 "gulp `clean` task should also remove generated templates"
This would help see which templates are generated (copied by gulp) vs not.

[2016-04-14 00:42] karellm commented on #25
Can you provide some more details? Your description is pretty cryptic, we are not in your head so when you submit tickets, please make the effort to ensure you will be understood. You can provide the current behaviour, the expected behaviour or even better a PR.

[2016-04-14 01:03] e2 commented on #25
Yes, sorry. What I had in my head was the wordpress-starter tutorial/docs about asset handling.

I meant that the `clean` tasks just removes the `dist files`. But files such as `index.php` are supposed to be copied from `assets/templates` into the theme dir. Since they are "generated" (copied by `compile-templates` gulp task), `clean` should remove them as well, right?

[2016-04-14 01:57] e2 commented on #25
https://github.com/visiblevc/wordpress-starter/pull/26

[2016-04-19 00:59] bluespore opened #29 "Working with WP plugins"
Is there an easy way to automatically activate plugins?

Main issue is when ever I try to run wp-cli commands on the machine with `command:` in the `docker-compose.yml` it runs before everything is good to go.

So if I was to add `command: wp plugin activate --all` I  get the following output:
[code]

I might have missed something here, so happy for some guidance.

[2016-04-19 13:17] karellm commented on #29
If you look at the [format](https://github.com/visiblevc/wordpress-starter#the-docker-environment) for the `docker-compose.yml`, there is an ENV variable named `PLUGINS`. Simply add your plugins there and they will be automatically installed.

If you want to install a specific plugin after the fact. Read [section 4 of this article](https://visible.vc/engineering/docker-environment-for-wordpress/).

[2016-04-19 13:17] #29 closed

[2016-04-19 21:49] karellm commented on #19
@dsifford Since we are maintaining a `CHANGELOG` (there is already manual work involved) and based on the volumne of builds, I still think automated builds are necessary. I will close this for now.

[2016-04-19 21:49] #19 closed

[2016-04-19 22:12] dsifford commented on #19
No prob. I keep a fork of this as an automated build for my own convenience so my needs are covered.

[2016-05-03 04:28] bluespore commented on #29
@karellm The key here is that I want to activate all plugins from the `docker-compose.yml` `command` argument. Your article only describes how to `exec` wp-cli commands after it's already running.

Apologies if I didn't pick up on something between the lines here.

[2016-07-27 17:27] #25 closed

[2016-08-01 10:19] bennyp123 opened #32 "ERROR (Line 120): Could not generate .htaccess file."
# Steps to Reproduce

1. clone repo
2. remove files as directed
3. place db.sql in data/
4. docker-compose up

# Result:

    Creating network "devdocker_default" with the default driver
    Creating volume "devdocker_data" with default driver
    Pulling db (mysql:5.7)...
    5.7: Pulling from library/mysql
    5c90d4a2d1a8: Already exists
    89e2627e9201: Pull complete
    76f6983b0fe0: Pull co

[2016-08-01 18:23] neelakansha85 opened #33 "Is it possible to run modified version of run.sh on starting container?"
Hi,

This is really good and I learning to make use of docker. I am trying to use this for my plugin development workflow. I usually work with wordpress multisite and so was trying to see if there is a way to override the default run.sh file while executes while starting the container.

I have tried using the `command:` in docker-compose.yml but no luck. Or is there a way you could create a postru

[2016-08-02 21:32] staciea opened #34 "gulp deploy-assets ( gulp-clean unable to delete )"
The command gulp deploy-assets runs into an error where the gulp-clean plugin is unable to delete.

[2016-08-02 23:55] karellm commented on #34
Hi @staciea (thanks for the good words on Intercom), I will investigate that issue later this week.

[2016-08-04 13:07] karellm commented on #32
@bennyp123 I can't reproduce locally. What system are you on?

@dsifford Do you have any idea?

[2016-08-04 13:53] karellm commented on #33
@neelakansha85 I didn't feel like implementing the postrun.sh but I just added multisites in `0.7.0`. To enable it, add `MULTISITE: 'true'` to your Dockerfile ENV variables.

[2016-08-04 13:53] #33 closed

[2016-08-04 13:59] #34 closed

[2016-08-04 14:21] dsifford commented on #32
Looks like possibly a file / directory permissions issue.

[2016-08-05 17:17] dsifford commented on #29
@bluespore this would require a modification of the `run.sh` file. Fork the repo and add `--activate` to [this line](https://github.com/visiblevc/wordpress-starter/blob/master/run.sh#L151)

[2016-08-05 17:20] dsifford commented on #33
@neelakansha85 Future reference: you should be able to add a command which executes a separate shell script, assuming you also add that script as a volume.

[2016-08-05 17:27] neelakansha85 commented on #33
Thanks @karellm and @dsifford for the suggestion. For now I have modified the run.sh script and am running it using local dockerfile. I will try mounting it as a volume it's just that I was trying to find a way in which I can have the file automatically running on starting the container over manually triggering it.

[2016-08-05 17:31] dsifford commented on #33
When using a `command` in the compose file, it is a "one or the other" operation. The command that you add is not composable over top of the default command.

So in your case, if you need something specific along with the rest of the default commands, it's probably best to just fork this repo and modify the source rather then adding a separate command.

[2016-08-05 17:51] neelakansha85 commented on #33
Yeah, agreed. I forked your repo https://github.com/neelakansha85/wordpress-starter and modified it. I do want to comment you for the great work your team has done here. Since it definitely helps me a lot.

[2016-08-05 17:57] dsifford commented on #33
All credit goes to @karellm ... I'm just a lowly contributor! 😃

[2016-08-05 18:45] karellm commented on #33
@dsifford Lowly contributor? This repo wouldn't be anywhere close to where it is without you! I would be happy to actually give you contributor rights on the repo if you want them.

[2016-08-05 19:13] dsifford commented on #33
@karellm You're too kind, really.

Re: Contributor access - Totally up to you. That's a whole lot of power! 😃

[2016-08-12 20:38] samlangdon commented on #32
I have the same issue - running on Windows 10.

Using yml file as follows:

version: '2'
services:
  data:
    image: busybox
    volumes:
      - /app
      - /var/lib/mysql
  wordpress:
    image: visiblevc/wordpress:latest
    links:
      - db
    ports:
      - 8080:80
      - 443:443
    volumes:
      - ./.data:/data # Required if importing an existing database
      - ./.wp-content/uploads

[2016-08-13 00:36] dsifford commented on #32
I'll maintain that I think the issue is due to file ownership permissions (specific to Windows machines).

I don't have a Windows machine so I can't test this, but generally why the reason why the htaccess script would fail would be due to improper permissions for the wordpress install directory.

[2016-08-13 02:22] dsifford commented on #32
@samlangdon To be sure, could you try changing your `image` line to `dsifford/wordpress` and see if you have the same issue?

I made a separate fork of this repo and set it to autobuild a while ago and there might be a subtle difference in it that makes it work. (that's the one I've been running for a while now).

If you get that same error, we can check that off the list and I'll look into it fur

[2016-08-13 17:00] samlangdon commented on #32
Thanks @dsifford - I gave it a go with your dsifford/wordpress image, but I get the same issue:

[32mwordpress_1  |[0m         =======================================
[32mwordpress_1  |[0m             Begin WordPress Configuration
[32mwordpress_1  |[0m         =======================================
[32mwordpress_1  |[0m => Generating wp.config.php file... Done!
[32mwordpress_1  |[0m =>

[2016-08-13 17:03] dsifford commented on #32
@samlangdon What version of docker and docker compose are you running? Are you running the new "native" docker for windows or are you still using Docker Machine + Virtualbox?

Can you paste over your compose file?

[2016-08-13 17:25] samlangdon commented on #32
No probs @dsifford - it's the new native Windows version: 1.12.0-stable (build: 5968) 9cd1dc2 (although I guess it's only semi-native, because I can see a Linux VM running in HyperV!).

The compose file is as follows:

version: '2'
services:
  data:
    image: busybox
    volumes:
      - /app
      - /var/lib/mysql
  wordpress:
    image: dsifford/wordpress:latest
    links:
      - db
    ports:

[2016-08-13 18:57] dsifford commented on #32
@samlangdon Looks like you're using some hybrid combination of a data-volume container mixed with version 2 volumes.

Try this...

[code]

The busybox container is not useful anymore.. The readme on this probably have to be updated to reflect that.

Let me know if that works

[2016-08-13 19:07] dsifford commented on #32
Also, I noticed you're explicitly voluming the `/app` directory. That is a no-no. That's likely the root cause of your issue.

You don't need to volume the entire app directory. All you need to volume is the database and whatever plugins/themes can't be downloaded at runtime (which are either commercial or development plugins/themes).

[2016-08-13 21:52] samlangdon commented on #32
Many thanks for the tips @dsifford. The busybox container and voluming of /app is in the sample docker-compose.yml in the readme at: https://github.com/visiblevc/wordpress-starter; I'd understood there were some advantages to having a separate data container independent of the wordpress and data containers, but did seem a bit superflous, so I guess maybe that's regarded as redundant nowadays.

I'v

[2016-08-13 22:26] dsifford commented on #32
@samlangdon

Correct. After Docker released named volumes, using a volume container became redundant. There was a good discussion somewhere in the Docker Compose issues somewhere if you feel like looking into that further.

It's created by WP-CLI. (in `run.sh` on line 120)

---

Is your project versioned somewhere? I'd like to try your configuration and see if I can reproduce.

[2016-08-13 22:30] dsifford commented on #32
Also, this may be a silly question, but...

[code]

Using the configuration as above assumes you are running the docker-compose file in a directory that looks like this:

[code]

If you don't have those folders explicitly in your project directory, you'll have problems.

[2016-08-13 22:35] dsifford commented on #32
For example, when I'm working on plugin development, typically the only folder I have versioned is the directory containing the bundled plugin files, like this..

[code]

my directory looks like this

[code]

[2016-08-13 22:39] dsifford commented on #32
I also just realized that your volumes are not typed correctly. You have a leading `.` that shouldn't be there.

So this...

[code]

should be this...

[code]

[2016-08-14 18:53] samlangdon commented on #32
Thanks for the info @dsifford - getting closer now. The . is a red herring - I actually created the local directories with a . at the start, just following the example from the readme. Also the volumes are indeed that structure, so all fine there.

I can't share the specific wordpress code/database I was trying to set up with you as it's in commercial use at the company I work for, but it got me t

[2016-08-14 18:58] dsifford commented on #32
@samlangdon Are you running a multisite? If so, flushing the rewrite rules would be precisely the problem. That needs to be changed in the run script. Didn't realize that this repo allows multisite installations now.

[2016-08-14 19:31] samlangdon commented on #32
@dsifford - no, the two wp sites I've tried aren't multisites, but I'm guessing it must be something to do with the rewrite rules. I'm going to have a crack at my next steps tomorrow and will report back for your info.

[2016-08-14 19:34] dsifford commented on #32
@samlangdon Are you able to get it to build fully without including your database as a volume? If not, the issue likely has to do with your windows installation since @karellm and I can run this without any issues on OSX and Linux.

That's something I won't be able to be of any help with since I don't own a windows machine.

[2016-08-14 19:36] dsifford commented on #32
[Here's the the details](https://wp-cli.org/commands/rewrite/flush/) on the rewrite flush. It's really nothing fancy and it should not be an issue on a single installation.

[2016-08-14 20:04] dsifford commented on #32
@samlangdon That said, if you're in a pinch and need to get a solid wordpress installation running, you can try [this one](https://github.com/dsifford/wordpress/tree/nginx).

That's one that I've been working on for my personal production use. It's much faster and bundles with fastcgi cache and php7.

I think me and @karellm are going to work on revamping this build to nginx one of these days so i

[2016-08-16 17:18] jaronoff opened #35 ""Stylesheet is missing" on installing existing theme."
Hello!
I am following the instructions here: https://visible.vc/engineering/docker-environment-for-wordpress/

and I have run into an issue where I'm installing an existing theme, i've pointed to said theme in the docker compose yml file, and I go to start my instance. It has the theme in there, but I get a "stylesheet is missing" in the description and it's in the "Broken Themes" section.

<img w

[2016-08-16 17:30] dsifford commented on #35
@jaronoff Can you share your `docker-compose.yml` file?

[2016-08-16 18:01] jaronoff commented on #35
I actually figured it out. I ended up just doing a complete fresh install, and walking through it again. I got it working.

Thanks!

[2016-08-16 18:03] dsifford commented on #35
Sweet! Feel free to chime back if you run into any other issues. 👍

[2016-08-16 18:03] #35 closed

[2016-08-16 20:23] jaronoff opened #36 "Can't install Plugins"
I'm getting an error when I try to install plugins. In the theme that I bought, are zip files of 3 plugins. They are showing up in the plugins area after installing the theme, but I get an error when I try to install them.

Error:
The plugin does not have a valid header.
Downloading install package from http://localhost:8080/wp-content/themes/wprentals/libs/plugins/revslider.zip…
Download failed.

[2016-08-16 20:24] jaronoff commented on #36
ALSO, is there a place to set the memory limit, or bump that up in the docker-compose.yml?

[2016-08-16 20:26] dsifford commented on #36
@jaronoff

Do you have the plugins directory volumed? If you volume the _entire_ directory, rather than just the individual subdirectories, you won't be able to install or remove plugins using the wordpress installer due to permissions issues.

[2016-08-16 20:28] dsifford commented on #36
Also, your volumes are not correct:

[code]
You should not have the plugins and themes directory inside the data directory. This creates a circular reference and will cause errors.

[2016-08-16 20:29] dsifford commented on #36
Can you send a screenshot of the directory structure you have locally? If so, I'll adjust the compose file for you.

[2016-08-16 20:32] jaronoff commented on #36
Sure.

<img width="1127" alt="plugins_and_downloads" src="https://cloud.githubusercontent.com/assets/433966/17714731/fe4e31a8-63ce-11e6-9416-1824db0ca1d2.png">

[2016-08-16 20:33] dsifford commented on #36
@jaronoff Where is the `docker-compose.yml` file in relation to the files above?

[2016-08-16 20:50] dsifford commented on #36
Here's an idea of how you should lay out your directory and compose file...

[code]

[code]

Hope that helps.

[2016-08-16 20:53] jaronoff commented on #36
ah... ok. I may have misunderstood.

Might rework this a bit. I'll try what you suggested above.

Thanks!

[2016-08-16 20:55] dsifford commented on #36
Sounds good.

Closing this for now. Feel free to reopen later on if you can't get it worked out.

[2016-08-16 20:55] #36 closed

[2016-08-16 21:08] jaronoff commented on #36
Actually.... I could just make a plugins folder, and then point it to that. I'll just rip those out of there and put them somewhere else. Hopefully that does it.

[2016-08-31 21:22] samlangdon commented on #32
Hi @dsifford

I eventually came back to this and figured out the issue I was having with the .htaccess not being created by the rewrite flush. It was an issue with the Wordpress database I was restoring; for security reasons, all the table names had been prefixed with something other than wp_ which confused wp-cli and made the rewrite command and htaccess break. Once I sorted that, it worked!

I h

[2016-09-02 00:02] dsifford opened #37 "Add option to environment variables to specify database prefix"
See https://github.com/visiblevc/wordpress-starter/issues/32#issuecomment-243906277

[2016-09-02 00:21] dsifford commented on #32
@samlangdon Good to know. Glad you were able to get it sorted out.

To answer your questions.....

---

Test environment and production environment are two totally different beasts. What is the specific application you are trying to accomplish?

If you are going to use a reverse proxy server, the purpose of that is to take in all requests (on port 80), and then dispatch those requests to the other

[2016-09-02 15:53] samlangdon commented on #32
Thanks for coming back @dsifford

Totally makes sense with having separate database containers - so I will have a separate compose file for each Wordpress site, each with its own wordpress and db container.

That was exactly what I was thinking with nginx - that container will take requests on port 80 and dispatch requests to the other containers on their respective ports based on the requesting d

[2016-09-02 17:19] samlangdon commented on #32
PS - I have tried out the volumes mapping and it does work like this:

Wordpress:
[code]

PHP application:
[code]

So the PHP application can see the files from the Wordpress site in a folder presented as /var/www/sitestoscan/xxx. But I don't think the external_links bit is doing what I hoped it would, as the PHP application can't access MySQL on the Wordpress site via wp-cli.

[2016-09-03 00:36] dsifford commented on #32
@samlangdon Hi Sam.

I'm on a family vacation for the holiday weekend so I won't be able to really look at this until Sunday.

But based on what you mentioned about your requirements, I think you might have more success running several separate cloud deployments all managed through one single "docker machine". If you aren't familiar with Docker Machine, I'd highly recommend you look into that befo

[2016-09-05 06:33] samlangdon commented on #32
@dsifford Hi Derek,

Hope you've had a good vacation (Labour Day, right?).

Thanks for the recommendation - I'll look into Docker Machine. I was aware of it and figured I'd take a look later when it came to setting up test & prod environments, but hadn't occurred to me it might handle some of the complexity with getting containers to see one another.

Thanks,
Sam

[2016-09-05 17:25] dsifford commented on #32
This is a slight misnomer.

Docker machines will not "see" each other. This will just virtually collect all your deployments in one location so that you can easily manage each of them using tools like wp-cli. Common things like updating plugins or themes can be done using bash scripts automatically.

I can't imagine a reason why each individual site deployment would need to be aware of the others

[2016-09-05 22:01] samlangdon commented on #32
You're quite right - after a little investigation, looks like Docker Machine won't help me with getting my PHP application to see Wordpress sites, although I think it will be the way forward for deployments to staging & live environments. I also quite like the look of Tutum, which gives it a nice web front end.

I'm still not quite sure why my PHP application can't see MySQL in my Wordpress contai

[2016-09-05 22:09] dsifford commented on #32
@samlangdon The `external_links` must be connected to the same network as the compose services you're trying to connect.

See here: https://docs.docker.com/compose/compose-file/#/network-configuration-reference

[2016-09-06 07:09] samlangdon commented on #32
@dsifford - thank you! Now it all makes sense; problem solved :o)

[2016-09-12 16:10] #32 closed

[2016-09-12 16:10] #37 closed

[2016-09-24 16:39] carloscasalar opened #41 "Export command doesn't work"
Export command fails for me:

[code]
If I run a `docker run` inside wordpress container then it works:
[code]

For instance, I've tried to do a `ls -l` with this two ways with different results:
[code]

I'm running docker for mac 1.12.1.

My `docker-compose.yml` is like the one in f7ae79e but with an additional phpMyadmin container.

[2016-09-24 17:10] dsifford commented on #41
@carloscasalar

You shouldn't use `docker-compose run` in this scenario for the following reason (this is pulled right from their docs)

Because we bootstrap the wordpress install after the service is built, `run` commands won't work. You need to run `docker exec` commands...

I have this alias set in my `.bashrc` because I find myself always wanting to open an interactive session in containers:

[2016-09-24 17:34] #41 closed

[2016-09-24 18:00] carloscasalar commented on #41
I like the npm way. And I love the `.bashrc` tip. Thanks it helps!

However, be aware of this line in README.md: https://github.com/visiblevc/wordpress-starter/blame/f7ae79e4dd28efa50c9f9d1d47b7570e1d4dc44a/README.md#L124 is what has led me to misunderstanding.

[2016-09-24 18:02] dsifford commented on #41
@carloscasalar Thanks for pointing that out. Will fix on the next update 👍

[2016-09-25 17:17] Wardormeur opened #42 "404 isn't working"
Hi,
I believe it comes from the apache conf that when using permalink as plain, the 404 page isn't caught by wp, but by apache.
Changing to another format (without ?) seems to work tho.

[2016-09-25 22:23] dotMastaz opened #43 "Many errors..."
Hello,

I had many erros when docker-compose :

ERROR: for db  driver failed programming external connectivity on endpoint theproject_db_1 (a74f76838da5608a454e97444153b2cb15bf79e8bf2250805140f1f25e0f33d6): Error starting userland proxy: listen tcp 0.0.0.0:3306: bind: address already in use
Traceback (most recent call last):
  File "/usr/local/container-station/python/bin/.libs/docker-compose", li

[2016-09-25 22:25] dsifford commented on #43
Need context to be able to figure out what's going on.

Can you paste your compose file?

[2016-09-25 22:27] dsifford commented on #42
Not sure I'm following what you're saying. Can you elaborate?

[2016-09-26 08:18] Wardormeur commented on #42
If you go to any page while using the default configuration for pemalinks ("/?p=") the 404 page from WP is not triggered when using a random path ("/qsd") while i believe it should ?

[2016-09-26 15:55] dsifford commented on #42
What page shows up instead? Just the standard "page cannot be displayed" page, I assume?

htaccess probably needs to be adjusted if that's the case.

[2016-09-28 20:26] numediaweb opened #44 "ERROR (Line 87): Database creation failed."
I'm running this on a Mac (El Capitan) and using the example docker-compose.yml found on the readme like this:
[code]
I got an error when I run:
[code]

[2016-09-28 21:13] dsifford commented on #44
@numediaweb Can you give me an idea of your directory structure?

[2016-09-28 21:16] dsifford commented on #44
Also, is `version: '2'` the very first line of your compose file? Because it should be.

[2016-09-29 15:40] bensonism opened #45 "Serialized string replace?"
Does the string replace also handle serialized arrays?

[2016-09-29 15:42] karellm commented on #45
It runs the command from wp-cli in the background. You can find the documentation [here](http://wp-cli.org/commands/search-replace/)

[2016-09-29 15:43] bensonism commented on #45
Yay, thank you. <3

[2016-09-29 15:43] #45 closed

[2016-09-29 15:47] dsifford commented on #43
@dotMastaz Any updates?

[2016-09-30 08:57] harri-peltola opened #47 "Cannot run wp commands"
Tried to run `docker-compose run wordpress wp db export /data --allow-root`

Getting error: Error: This does not seem to be a WordPress install.

My instances are running while i do this..

[2016-09-30 11:58] dsifford commented on #47
See this issue thread for the solution: https://github.com/visiblevc/wordpress-starter/issues/41

[2016-09-30 11:58] #47 closed

[2016-10-01 00:29] Pushplaybang opened #48 "Email in local development"
Hey there

just using your main docker image, and trying to test email sending but with no joy, any suggestions?

[2016-10-01 01:07] dsifford commented on #48
Are you connected to a cloud server or on localhost?

[2016-10-01 01:08] dsifford commented on #48
Whoops... I suppose I should have read the title...

The PHP mailserver doesn't function on localhost. You'll have to send using SMTP. I believe there's a plugin called `wp-mail-smtp` that is pretty popular for doing this.

[2016-10-01 09:18] Pushplaybang commented on #48
Hey thanks for the swift response, I've been away from WordPress development for a while, but pretty certain I was able to send mail before.   (as long as I've been doing all sorts of dev, my DevOps experience is pretty light so forgive any ignorance).

I've seen other wp docker stacks that use mail hog to catch local email, which I'd like to do to test transactional email with custom templates et

[2016-10-01 09:44] dsifford commented on #48
I'm not sure how to set it up. The few times that I've needed to test emails from localhost (even a transactional email service like sendgrid), I've always just used an SMTP plugin like the one I mentioned before.

All that those plugins do is wrap the `wp_mail` function to use SMTP rather than the default mailserver.

That all said, feel free to send in a PR if that doesn't suit your needs and yo

[2016-10-01 09:44] #48 closed

[2016-10-01 09:46] Pushplaybang commented on #48
@dsifford thanks, yeah im really keen to get this working so will take a crack at it.

[2016-10-01 09:51] dsifford commented on #48
Now that I mention that and I start clearing the cobwebs out of my brain this morning, I'm realizing that when I needed to send using sendgrid I _didn't_ have to use a `wp_mail` wrapper plugin because I used their REST api.

I do recall that sendgrid in particular [has their own `wp_mail` wrapper plugin](https://wordpress.org/plugins/sendgrid-email-delivery-simplified/) as well for sites that want

[2016-10-03 15:56] karellm commented on #43
Closing for lack of activity. @dotMastaz Feel free to reopen with more details if the issue persists.

[2016-10-03 15:56] #43 closed

[2016-10-06 08:11] RyosukeTakahashi opened #49 "docker-compose up doesn't finish."
I did just what I was told to, cloned git and did docker-compose up.
I didn't touch docker-compose.yml at all.
Lots of message started appearing and it goes to like below.

...
wordpress_1  | => Removing unneeded themes... Done!
wordpress_1  | => Installing needed themes... Done!
wordpress_1  | 	=======================================
wordpress_1  | 	   WordPress Configuration Complete!
wordpress_

[2016-10-06 10:20] dsifford commented on #49
That looks finished to me. Can you tell me what you expected to happen?

[2016-10-06 11:02] RyosukeTakahashi commented on #49
My huge apology, it was finished. It was my nooby mistake.
I was trying to access localhost:8000 instead of localhost:8080. So embarrassing...

I managed to see the page with the default wordpress theme using the default docker-compose.yml.
But I don't know the username and password to get in to the dashboard.
As far as I can tell, cannot find it in the README.md .

Or should I import an database

[2016-10-06 11:05] RyosukeTakahashi commented on #49
Sorry i got it. The username and password are both root.

[2016-10-06 11:17] dsifford commented on #49
No problem. Glad you were able to get it working. 👍

[2016-10-06 11:17] #49 closed

[2016-10-17 17:21] karellm commented on #44
Closing this for lack of activity. Feel free to reopen with more details if the issue persists.

[2016-10-17 17:21] #44 closed

[2016-10-19 16:24] leiluspocus commented on #35
Hi,

I'm experiencing the same error. What do you mean by "I ended up doing a complete fresh install" ? You followed this tutorial ( https://visible.vc/engineering/docker-environment-for-wordpress/ ) again ?

Thank you !

[2016-10-19 16:55] dsifford commented on #35
Hi @leiluspocus

Can you paste over your compose file and any error messages that you might have from the build here?

[2016-10-19 17:02] leiluspocus commented on #35
Hi @dsifford

Thanks for the prompt reply.

This is my compose file :

`version: '2'
services:
  wordpress:
    image: visiblevc/wordpress:latest
    links:
      - db
    ports:
      - 8080:80
      - 443:443
    volumes:
      - ./data:/data
      - ./wp-content/themes/mythemename:/app/wp-content/themes/mythemename
    environment:
      DB_NAME: wordpress
      DB_PASS: root
  db:
    image: m

[2016-10-19 17:10] dsifford commented on #35
This configuration assumes you have a folder called `wp-content` at the top level of your project directory. Is that true?

Also, I'm fairly certain volumed files cannot be symlinks. Can you try copying it over to your project directory instead?

Future reference: surround your code like this for better code rendering in github comments:

![image](https://cloud.githubusercontent.com/assets/5240018

[2016-10-20 09:04] leiluspocus commented on #35
Thank you for the YML tip :)

Yes, I do.

I also tried, same result.

[2016-10-20 16:47] dsifford commented on #35
@leiluspocus Do you have a repo that I can pull and test to see if I can recreate your issue?

Also, were there any errors logged? (after running `docker-compose up -d` you can view the logs by running `docker-compose logs wordpress` -- Or, if you're like me, you can do it all in one go by using this command: `docker-compose up -d && docker-compose logs -f wordpress`.

Thanks

[2016-10-25 01:33] Wardormeur commented on #42
It was the default rendering from apache's HTTP error (whie page + error code).
Though, I have no idea if WP does a "catchall" for 404 and if the catchall behavior changes when changing the slug format

[2016-10-25 01:51] dsifford commented on #42
@Wardormeur Which theme are you referring to?

[2016-10-25 09:59] Wardormeur commented on #42
the default one, twentySixteen

[2016-10-25 11:13] dsifford commented on #42
Twentysixteen should be showing this page: https://github.com/WordPress/twentysixteen/blob/master/404.php

I'm not able to reproduce your issue. Thoughts @karellm ?

[2016-10-26 13:31] karellm commented on #42
@dsifford If I follow the getting started steps and visit a random page `localhost:8080/foo` I indeed end up on the apache 404:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/3O3u2W172R2n313o3L3m/Image%202016-10-26%20at%209.23.17%20AM.png?v=47929168)

I will investigate soon

[2016-10-26 18:59] dsifford commented on #42
@Wardormeur You're right! I was just able to reproduce. I know what's wrong. I'll push a fix out in the next 20-30 minutes

@karellm I'm going to push the fix directly to `master`. I'll update the CHANGELOG and do a patch bump to the semver number. 👍

[2016-10-26 19:44] #42 closed

[2016-10-26 19:46] dsifford commented on #42
@karellm Fixed.

This still needs to be built on dockerhub.

Also, I'm not sure how this will work out in instances where users are importing a database with rewrite rules already set. I'll likely have to add a check somewhere to prevent this from overwriting permalink rules.

[2016-10-27 11:55] karellm commented on #42
@dsifford Couple things:

1/ Thanks for the fix!
2/ I prefer we never push to master but always make PRs, even for small changes. I grew accustomed with our team to review everything and I think it is a good habit to have when collaborating on projects
3/ Automated builds: I recall now why I didn't set it up. It require admin access to our github account, and for security reason I'm not willing to

[2016-10-27 13:52] dsifford commented on #42
@karellm Noted. My bad!

[2016-10-27 20:06] 808loud opened #50 "Setup accommodations for HTTPS"
## Overview

I am trying to get an existing WordPress site's theme and database running in Docker, for local development.

The existing (live) site is served via HTTPS. The site's WordPress Address (URL) is set to https://www.homesforheroes.com - so the protocol is stored in the WP database.

I can get WordPress working fine, if I don't import the database. However, I need the database imported fo

[2016-10-27 21:11] dsifford commented on #50
@808loud I also have SSL encrypted production sites and use this setup for development purposes. Setting search replace to `https://yoursite.com,http://localhost:8080` should work. I'm not sure why it isn't working to be perfectly honest!

Can you run the build again with `SEARCH_REPLACE` set like above, but also with `VERBOSE` set to `'true'` and show me the output?

[2016-10-27 21:12] dsifford commented on #50
Also: I'm not seeing an uploads directory in your project structure. Is that a typo?

[2016-10-27 22:03] 808loud commented on #50
I will run a verbose build tonight with the search/replace format you suggested, and share the output.

As for the uploads directory, I just haven't gotten to that yet :wink:

[2016-10-28 10:54] karellm commented on #50
I think we could have a self signed certificate in the build. We also rely on search/replace but it is far from ideal.

The way we have it setup is that our DB export takes care of the search/replace. We use WP Migrate DB (free version) to do that with the following configuration:

![](https://d3vv6lp55qjaqc.cloudfront.net/items/2E1N3N0n2q0S0w0R0f17/Image%202016-10-28%20at%206.51.57%20AM.png?v=d8e

[2016-10-28 14:03] blackwood commented on #16
Wonder if this: `VBoxManage controlvm vm-name natpf1 "tcp8080,tcp,127.0.0.1,8080,,8080"` should be in the README? Spent a couple minutes scratching my head as to why the "two-line get started" in the docs was loading the site, but not any theme assets from `localhost:8080`

[2016-10-28 14:32] karellm commented on #16
@blackwood I added it. Thanks for the feedback!

[2016-10-28 14:34] kitwestneat opened #51 "Pruning themes and plugins is overzealous"
Change 8a10e7a557e03d1c44da9ee799a1985a7e7ee369 made it so any themes and plugins not defined in the (optional) variables THEMES and PLUGINS variables are deleted. This makes working on local themes and plugins difficult, though it appears that there is a new undocumented [local] tag that one can use to whitelist local plugins.

Since THEMES and PLUGINS are optional, it seems like it'd be better t

[2016-10-28 15:07] karellm commented on #51
@dsifford I think I agree with that. I got confused too the first time I ran the new build that my local theme got deleted.

@kitwestneat In the meantime, you can simply list your plugins by name in the `docker-compose.yml`. This will keep them from being deleted.

[2016-10-28 15:46] dsifford commented on #51
I had a feeling there'd be some pushback on this

This isn't documented? That should definitely be fixed.

I still think there's merit in pruning `hello` and `akismet`. I often require a clean environment when testing plugins.

This is "possible", but will be difficult to pull off. Execution of this would require doing `wp plugin list`, returning json, iterating through and pulling out all plugins

[2016-10-28 16:19] karellm commented on #51
I second deleting default themes and plugins but since this list is known and rarely changing (once a year), we could whitelist the plugins/themes we delete rather than trying to be smart about what is in the project. It used to be like that before. We just loop the 4 default themes and 2 default plugins and unless there are active, we prune them. We never prune anything else.

Instead of `wp plug

[2016-10-28 16:49] dsifford commented on #51
Sounds good to me. Can you take care of making the switch @karellm? I've got some other priorities I've got to get finished over the next couple of days.

[2016-10-28 17:39] karellm commented on #51
I will try to tackle it next week.

[2016-10-30 18:29] dsifford commented on #51
@karellm Came across this today, which may be relevant for this: https://github.com/billerickson/wp-cli-plugin-install-missing

[2016-10-31 19:18] 808loud commented on #50
@dsifford do I need a certificate if the client site uses HTTPS, even if I'm using search replace to change everything back to HTTP for the localhost instance?

These are the search/replace settings that I'm using in Migrate DB:

<img width="760" alt="migrate db settings" src="https://cloud.githubusercontent.com/assets/919811/19868135/be072758-9f74-11e6-81be-f69c71ab5b72.png">

Oh, and I finally g

[2016-10-31 19:19] dsifford commented on #50
@808loud You do not. All you need to do is replace the urls to `http` using search-replace. Nothing else.

[2016-10-31 19:20] dsifford commented on #50
Also -- **do not** replace post GUIDs. You'll have a bad time if you do.

[2016-10-31 19:20] dsifford commented on #50
(search-replace skips those by default)

[2016-10-31 19:22] karellm commented on #50
@808loud Your Migrate DB logic is broken. Copy mine in the exact same order. Right now, the second ruel will not find anything since you replaced them all in the first one.

[2016-10-31 19:57] 808loud commented on #50
Oh, right. OK, well I changed up the order of my search/replace settings (as well as the advanced settings regarding GUIDs and post revisions) in Migrate DB:

<img width="759" alt="screenshot 2016-10-31 14 41 34" src="https://cloud.githubusercontent.com/assets/919811/19868920/25038340-9f78-11e6-8937-9e4f6435a268.png">

and rebuilt the servers with docker. Same issue. I went into the database, and

[2016-10-31 20:16] dsifford commented on #50
@808loud I really have no idea why this is happening for you.

I've never used wp-migrate-db. All that I had to do is just search replace the urls. That's it. I do this regularly on 3 separate SSL encrypted sites.

Do you have a repo somewhere that I can look at?

[2016-10-31 20:47] karellm commented on #50
@808loud Couple ideas to debug:

1/ Look at the dump you get from WP Migrate DB. Make sure the sql file has no mention of `https`. If it does, the issue comes from the plugin or the configuration.
2/ Try adding the SEARCH_REPLACE config in the `docker-compose.yml` and see if you experience the same issue.
3/ Make sure that when you run `docker-compose up` it is properly recreating the DB. Note tha

[2016-10-31 21:41] 808loud commented on #50
Thanks guys. I have to pivot to some other priority projects for my client, but I'll get back to debugging this ASAP.

[2016-11-01 17:18] 808loud commented on #50
OK, back at it.

1. I searched the .sql file from Migrate DB. All instances of localhost occur after `http://` including 'siteurl' and 'home' in the options table. No results found for `https://localhost`
2. Next I tried removing the Find & Replace settings in the Migrate DB plugin, and switched over to using SEARCH_REPLACE in the docker-compose.yml. It successfully replaced all production URLs wi

[2016-11-01 17:24] 808loud commented on #50
Or, what about the following line in the build log?

[code]

[2016-11-01 17:49] dsifford commented on #50
Do you have another machine to try this on? I have a feeling this is an issue with your mac.

Again, you shouldn't even have to worry yourself with `wp-migrate-db`. That shouldn't even be a thought in your mind. Replacing https->http with search-replace is all you need. I'm so confident about that because I do it on a daily basis.

That said, if you're set on using migrate-db for whatever reason,

[2016-11-01 17:55] 808loud commented on #50
It seems that my issue is contained to Safari and Chrome.

Firefox loads my local WP site on 'http://localhost:8080' just fine, with no redirects :confused:

I will do a little Googling and see what I can come up with.

[2016-11-01 17:57] dsifford commented on #50
Open devtools in chrome and do a hard refresh (click and hold the refresh button until a menu pops up and then select "Empty cache and hard reload"). You might get lucky there.

Make sure devtools is open before you do it.

[2016-11-01 18:02] 808loud commented on #50
Praise Jeebus, a hard refresh worked! :tada:

[2016-11-01 18:02] #50 closed

[2016-11-01 18:05] dsifford commented on #50
![gif](http://i.giphy.com/b9aScKLxdv0Y0.gif)

[2016-11-01 21:47] karellm commented on #50
@808loud I second that you don't need WP Migrate DB. We use it for legacy reason, we hadn't implement search and replace initially. Glad that your issue is resolved!

[2016-11-17 12:14] eurobob opened #52 "Production build stuck waiting for MySQL to initialize (GKE & kubernetes)"
## Overview

I'm trying to deploy this image with Google Container Engine (https://cloud.google.com/container-engine/docs/tutorials/hello-wordpress), but it seems to get stuck on initialising MySQL.

## `kubernetes pod log` output

[code]

[2016-11-17 18:15] dsifford commented on #52
This image requires a MySQL or MariaDB container be running and available ('exposed') prior to starting up. I don't have much experience with kubernetes, but in the example that you link to, I assume the tutum/wordpress image does not depend on a running database prior to running and instead can be linked to one at some other point after starting up.

[2016-11-17 23:43] eurobob commented on #52
Makes sense. To be honest I'm not planning on using MySQL on each machine. Since it will be an autoscaling group I will be using the Google Cloud SQL service. Do you have any suggestions on how I would bypass the MySQL setup? I assume I would just change the environment variables in the docker-compose.yml?

[2016-11-18 00:11] eurobob commented on #52
I tried removing the section from run.sh and rebuilding my docker image, but it didn't seem to work :/

[2016-11-18 01:43] dsifford commented on #52
@eurobob Not sure if I'm understanding what you're trying to do. Can you clarify?

**Option 1**: You're trying to cluster several sites around a single database container

**Option 2:** You're trying to cluster several singular WordPress instances around a single database container

## If option 1
This project is not currently set up to be able to do something like that. If you don't mind me askin

[2016-11-18 02:46] eurobob commented on #52
Honestly I'm a little confused as to what i'm doing.

I just want to deploy a wordpress app on an autoscaling cloud infrastructure. Maybe there is a simple way that I just can't seem to find documented well. It felt like I had to go through all this docker stuff based on what everyone talks about these days. I tried AppEngine already but the performance just wasn't good enough for me.

I realise t

[2016-11-18 02:46] #52 closed

[2016-11-18 02:51] dsifford commented on #52
@eurobob Happy to help point you in the right direction if I can.

WordPress is just inherently non-scalable by design.

If you simply want to be able to set up a few cloud WordPress sites, this project makes that a breeze. You just need to use docker compose rather than kubernetes or swarm (since we're not clustering).

[2016-11-18 02:58] eurobob commented on #52
Thanks a lot, i've definitely been experiencing the non-scalable irks. I have joined a company and inherited the application. It's the kind of thing that definitely shouldn't have been built on top of wordpress so it's very fragile anyway, but it works and we're doing a huge marketing push at the start of 2017 so we need to make sure it handles any traffic surges. Then I can get started on a much

[2016-11-18 03:14] dsifford commented on #52
@eurobob Look into [easyengine](https://github.com/EasyEngine/easyengine). It's not a docker project, but it's easily the most performant implementation of WordPress that I'm aware of.

Installation is brainless and they're working on fully integrating with WP-CLI.

I made a docker implementation with easyengine (which is now currently broken due to an API change) and was able to get a 99% pagespe

[2016-11-21 08:06] eurobob commented on #52
Awesome! Thanks so much for this. I used it to set up an image template for Google Compute Engine and set up my load balancer along with Cloud SQL, Cloud Storage & Data store for sessions.

However, I'm seeing very poor performance. I'm using a single CPU, 3.75GB ram machine for my template. I did an Apache Bench test and got these results:

`$ ab -n 100 -c 10 https://XXX.XXX.XXX.XXX/

Server Soft

[2016-11-21 09:27] eurobob commented on #52
So I deactivated all the plugins and the php-fpm usage dropped to 3%. I guess it really is a piece of shit app

[2016-11-21 22:04] dsifford commented on #52
Which plugin was causing the issue @eurobob

[2016-11-22 01:12] eurobob commented on #52
@dsifford The culprit was Advanced Custom Fields, but once I checked the access logs I realised that it was the Google Health Check running every 5 seconds that was causing it to overload the server. Changed that to 60s and now my instance is idling at <3% CPU. 😄

Thanks for letting me know about easyengine! Hopefully this will help someone in the future stumbling upon this thread.

[2016-11-22 01:24] dsifford commented on #52
@eurobob No problem.

Not sure if I'm understanding you correctly. Are you saying that it is, in fact, a codebase issue with ACF that causes the rapidfire health checks? Should @elliotcondon be aware of this?

No problem. Happy to help.

[2016-11-22 02:10] eurobob commented on #52
I'm not sure if there is a codebase issue. I just think that my instance capacity was unable to adequately cope with running through ACF every 5 seconds.

However, when I profiled the installation with the P3 plugin I did notice that ACF does contribute to ~20% of my page load time. I assumed this was to be expected as part of the wordpress plugin bloat? Otherwise maybe there are some improvements

[2016-11-29 14:57] benedict-w opened #54 "Wordpress not installed?"
I'm new to Docker, so apologies if there is something I am doing wrong / stupid! I really like the look of the docker setup you have here but I seem to get errors with installing WordPress

![screenshot 2016-11-29 14 56 23](https://cloud.githubusercontent.com/assets/1303610/20714486/1280baa2-b644-11e6-8508-926a10500bbf.png)

I've deleted the image and tried a few times now, with the same result.

[2016-11-30 05:00] dsifford commented on #54
@benedict-w Can you verify how you are running this image? What command are you using exactly? Also, mind sharing your `docker-compose.yml` file?

[2016-12-03 22:36] AlecRust opened #55 "SERVER_NAME undefined when installing Contact Form 7"
## Overview

- What's your problem about?
`Undefined index: SERVER_NAME` error when installing [Contact Form 7](https://wordpress.org/plugins/contact-form-7/) plugin via adding `contact-form-7` slug to `docker-compose.yml`. Plugin is installed but the contact forms in the db aren't loaded.
- What is your operating system?
macOS 10.12.1
- What is your docker version?
Client/server 1.12.3

## `docke

[2016-12-03 22:58] dsifford commented on #55
@AlecRust This is going to be an issue with Contact Form 7, not this project.

They should be making calls to `WP_SITEURL` and not `$_SERVER['SERVER_NAME']`. More on that [here](https://codex.wordpress.org/Editing_wp-config.php#WordPress_address_.28URL.29)

A temporary fix for you would be to just set the value of `SERVER_NAME` in your virtualhosts config located at `/etc/apache2/sites-enabled/000

[2016-12-03 22:58] #55 closed

[2016-12-04 20:08] b0rt opened #56 "plugins / themes tagged with [local] raise yaml error when first entry"
## not working `docker-compose.yml`

[code]
### error on bash
[code]

## working `docker-compose.yml`
[code]

## Overview

- What's your problem about?
annoying yaml error
- What is your operating system?
debian stretch
- What is your docker version? `docker version`
[code]

[2016-12-04 20:13] b0rt commented on #56
found the solution: putting >- in front solves the issue :)

[code]

[2016-12-04 20:13] #56 closed

[2016-12-04 20:30] dsifford commented on #54
@benedict-w Marking this as resolved since I haven't heard back from you.

[2016-12-04 20:30] #54 closed

[2016-12-04 21:29] dsifford commented on #55
@AlecRust I'm working on an update that will also fix this on our end. I'll chime back when that's ready

[2016-12-05 00:37] dsifford commented on #55
@AlecRust #57 should resolve your issue

[2016-12-05 13:15] AlecRust commented on #55
Great thank you!

[2016-12-06 10:06] stefanfrede opened #60 "`docker-compose up` fails"
## Overview

- What's your problem about?

Initial `docker-compose up` fails with error.

- What is your operating system?

`macOS Sierra 10.12.1 (16B2555)`

- What is your docker version?

`Docker version 1.12.3, build 6b644ec`

## Getting started

[code]

## `docker-compose up` output

[code]

[2016-12-06 12:18] karellm commented on #60
@stefanfrede There was a typo in the `docker-compose.yml`. The tag should not be `php7.0` but `latest`. You can find all the available tags in the README in case you want a specific php version.

[2016-12-06 12:18] #60 closed

[2016-12-08 03:02] lorcanfurey opened #62 "Default Theme + Rest API issue"
Hi, great starter by the way! 👍

Just encountering a couple of issues;

1) Is there anyway to make the local test theme (mounted as a volume) set as the active theme by default? On my docker-compose.yml file, I have a local theme (**metro-creativex**) set but when docker-compose finishes, the default theme is **twentyseventeen**
2) I've indicated **rest-api** as a default plugin, but in the plugin

[2016-12-08 03:13] dsifford commented on #62
@lorcanfurey Ah, I see.. You have the theme locally downloaded, but are not importing a database from a site that has that theme enabled already. You're right, the theme would not be activated.

Let me look into this tomorrow and see if I can fix.

The other issues are being handled as well. We just overhauled and split into the two Dockerfiles so there's likely going to be a small period of bugfi

[2016-12-08 10:00] leiluspocus commented on #35
Hi @dsifford

I don't have a test repo unfortunately. However, I noticed the following error in the logs :

[code]

Could it be linked ?

[2016-12-08 10:14] leiluspocus commented on #35
Ah actually, I forgot to add this line in my docker-compose.yml file :

[code]

Theme was succesfully mounted as it says in the logs :
[code]

However, I still have the same error.

[2016-12-08 10:37] leiluspocus commented on #35
Well, my bad, the theme folder was empty ... 😳

To the next one who might have this kind of issue :
- Double-check that the environment variable is defined in the docker-compose.yml file so that theme can be mounted
[code]
- Make sure your theme folder is correct 😓

Such a great work guys, thank you !

[2016-12-08 17:25] dsifford commented on #62
Actually @karellm how do you think we should go about this?

Simply activating a theme if it's listed as a local volume will be less than ideal in most scenarios because most users who have local themes have them as a child of an existing theme. Activating all `[local]` themes will (50% of the time) cause the parent theme to be activated.

I think the current approach will lead to less headaches f

[2016-12-08 18:09] dsifford commented on #62
@lorcanfurey try this...
1. Delete your local `metro-creativex` directory (but keep it listed as a volume).
2. Remove `[local]` from the theme in the `THEMES` env variable.
3. Build

This should download the theme to the directory in the container (and thus locally), and you should have the same effect.

Let me know

[2016-12-09 14:00] lorcanfurey commented on #62
That worked, thanks!
Knowing that the current setup is for child theme dev is helpful too 👍

[2016-12-10 12:51] miguelangeltorresfp opened #63 "Running docker on windows 10 through docker-machine"
Hi, this is a great project and I think it's just what I was looking for.

I run docker-compose up but then when I visit
http://192.168.99.100:8080/
there are a lot of resources that fail to load from http://localhost:8080/.

Any help be appreciated.
Thanks in advance.

[2016-12-10 15:55] dsifford commented on #63
@miguelangeltorresfp Can you please share your compose file?

[2016-12-10 22:48] miguelangeltorresfp commented on #63
Sure @dsifford, but I didn't modify anything.

I was just following this tutorial
https://visible.vc/engineering/docker-environment-for-wordpress/

I just did
git clone https://github.com/visiblevc/wordpress-starter the-project
cd the-project
docker-compose up

[2016-12-11 03:25] dsifford commented on #63
@miguelangeltorresfp Which resources are failing to load? Can you rebuild with `VERBOSE: 'true'` set and paste your logs?

Thanks

[2016-12-11 13:06] karellm commented on #63
@miguelangeltorresfp I don't know how it works on Windows but you should probably forward the 8080 port from Docker (or the VM that runs it). That way you should be able to access the entire site via `localhost`, not the VM IP address.

[2016-12-11 18:57] miguelangeltorresfp commented on #63
These are the resources that are failing
[code]
Sorry @dsifford, I'm a newbie and I'm not sure where I have to add `VERBOSE: 'true'`

I run docker-compose --verbose up

[code]

[2016-12-11 21:41] dsifford commented on #63
@miguelangeltorresfp Three things...

1. Isn't windows supported natively by docker now using their built-in ubuntu subsystem?
2. Just to confirm, the IP address `192.168.99.100` was the output of `docker-machine ip <your-machine-name>`?
3. Can you completely rebuild using the configuration below?

[code]

Make sure that you run the following commands prior do rebuilding.

[code]

Kill and remove

[2016-12-12 00:11] miguelangeltorresfp commented on #63
Thank you @karellm and @dsifford for your time and patience.

1 ) I have windows home edition and It's not supported yet.

2 ) Yes, the ip of the default docker-machine is 192.168.99.100
[code]

3 ) I had already did all of these steps before.
And I've done them again.
The result is the same.
I can't enter to the admin dashboard neither.
http://192.168.99.100:8080/wp-admin is redirected to
http://

[2016-12-12 01:43] dsifford commented on #63
@miguelangeltorresfp Is the `URL` that is shown using `docker-machine ls` the same as a the IP address that is printed using `docker-machine ip default`? Just want to make sure we're covering all bases here.

I run on linux mainly (sometimes OSX) so unfortunately I can't attempt to recreate your issue since I have no access to a windows machine.

[2016-12-12 09:13] leiluspocus opened #64 "Cannot import my database backup"
## Overview
Hi,
I can't import my database backup, either through the docker-compose up method (when adding file in project) or though the wp cli command.

## Technical informations
OS :
- What is your docker version?
[code]

## `docker-compose.yml`

[code]

## Project structure

[code]

Here is also the content of the data folder :
[code]

## `docker-compose up` output

[code]

### Import output

[2016-12-12 09:42] miguelangeltorresfp commented on #63
[code]

@dsifford, yes, now I know that working on windows for web development is not the most advisable. I didn't know that until I start to test Varying-Vagrant-Vagrants-vvv.

[2016-12-12 10:09] dsifford commented on #64
Hi there.

Looks like your data folder isn't being volumed.

Try adding a `./` before the folder name in the `volumes` section of your wordpress service and let me k ow if that works.

In other words... `data:/data` should read `./data:/data`

[2016-12-12 11:02] leiluspocus commented on #64
Thank you for the prompt reply @dsifford !

It seems to work however, it takes a very long time to load the db :
[code]

Should I create a smaller dump of my database ? This is my production dump, it's pretty big (2.2Go).

Also question: can I rename the folder ? (from wordpress-starter to my-docker for example).

[2016-12-12 16:34] dsifford commented on #64
@leiluspocus

The time it takes to import is a limitation of mysql itself. Here's the [actual implementation](https://github.com/wp-cli/wp-cli/blob/7bac52bc92502c0711456147d7eb40941e1328bc/php/commands/db.php#L341) of what's happening when a database is imported. You'll see it's just a standard mysql import.

I'm not sure of the actual implementation details on the mysql side, but I assume the imp

[2016-12-12 16:56] dsifford commented on #63
@miguelangeltorresfp Let me see if I can recreate this issue with docker-machine on a cloud provider. Busy with other things at the moment, but I should be able to try in the next couple of days.

[2016-12-12 19:41] miguelangeltorresfp commented on #63
@dsifford Thank you very much for your help.

And don't worry, take your time, I'll be checking this thread for a possible solution.

[2016-12-13 17:43] dsifford commented on #64
@leiluspocus Marking this as resolved. Feel free to reopen if you're still having issues.

[2016-12-13 17:43] #64 closed

[2016-12-13 17:44] #62 closed

[2016-12-14 00:36] miguelangeltorresfp commented on #63
@dsifford, @karellm

I've been following this tutorial.
https://www.sitepoint.com/how-to-manually-build-docker-containers-for-wordpress/

It works with two containers
1 ) From an image built from this dockerfile
[code]
2 ) Built with this command
docker run --name wordpressdb -e MYSQL_ROOT_PASSWORD=password -e MYSQL_DATABASE=wordpress -d mysql

The wordpress files have been copied into the working

[2016-12-14 01:45] dsifford commented on #63
@miguelangeltorresfp Do you have access to the container now? Can you open a shell session in the wordpress container and show me the output of the following two commands.

[code]

[code]

And also, as a reminder, can you also give me the IP of your machine?

From outside the containers
[code]

Got a hunch here about something.. Thanks.

[2016-12-14 09:46] miguelangeltorresfp commented on #63
Sorry @dsifford if I'm a bit late with this, I'm from Spain.

[code]

[code]

[2016-12-14 14:50] leiluspocus commented on #64
Oops sorry for the late feedback. Yes, it ended after some time. I made a smaller database in consequence thank you for the tip :)

An other quick question: how can I execute a MySQL query within the MySQL container ?

I tried this but it is not working :

[code]

Please note that my container names are :
[code]

Thank you in advance for your support.

[2016-12-14 15:26] dsifford commented on #63
No worries.

I think we have a winner!

Just to confirm, can you now run the following two commands in your wordpress service and see if it fixes your issue?

[code]

[code]

Let me know. Thanks

[2016-12-14 15:45] dsifford commented on #64
@leiluspocus Glad you were able to get it working.

Re: running sql queries in your services.

You have three options:
1. Run them directly in the `db` service using `mysql` [see here](https://asciinema.org/a/5v9uw1wz1ovuvyd5hqqmw53au). I have the `exec` command aliased if you're wondering why it looks strange. In your case it should be `docker exec -it mydocker_db_1 /bin/bash`.
2. Run queries in

[2016-12-14 16:14] miguelangeltorresfp commented on #63
Sorry @dsifford, it doesn't seem to work neither.

I try setting the url with and without ports

[code]

But when I try to access the site on the browser it refuses the connection.

And http://192.168.99.100:8080/ redirects to http://192.168.99.100/

[2016-12-14 16:16] dsifford commented on #63
Sorry, you'll also have to flush your rewrite rules I think..

So after setting, run `wp rewrite flush --hard --allow-root`

[2016-12-14 16:42] miguelangeltorresfp commented on #63
No, it's redirecting in the same way.

Maybe I have to replace old url with the new ones like in this article
https://imagewize.com/changing-site-url-with-wp-cli/

But I don't know exactly how I must write it down,
maybe like this ?
`wp search-replace 'http://localhost:8080' 'http://192.168.99.100:8080' --skip-columns=guid `

[2016-12-14 16:43] dsifford commented on #63
That's what `SEARCH_REPLACE` does in the wordpress service. I assume you've already tried that and it failed, correct?

[2016-12-14 16:47] miguelangeltorresfp commented on #63
Yes, the server refuses the connection.

[code]

[2016-12-14 16:49] miguelangeltorresfp commented on #63
But maybe I don't have to add the port to the url, do I ??

[2016-12-14 16:50] dsifford commented on #63
See here: https://github.com/visiblevc/wordpress-starter#wordpress (`SEARCH_REPLACE`)

Destroy all your containers and rebuild trying that if you haven't done it already.

[2016-12-14 16:51] dsifford commented on #63
I was under the assumption you already attempted that

[2016-12-14 20:48] miguelangeltorresfp commented on #63
I tried

`SEARCH_REPLACE: localhost:8080exit,192.168.99.100:8080`

Then everything seems to have correctly installed,
but the server is still refusing the connection.

[code]

@dsifford , I don't want to want to bother you anymore with this.

It's better to wait for a more experienced windows user.

Thank you very much for your patience.

[2016-12-16 13:58] mvasin opened #65 "Dockerfile"
Hi,

where is Dockerfile? I can't see it neither in this repository nor on the [docker hub](https://hub.docker.com/r/visiblevc/wordpress/). It's no good to pull and install images when you don't know what's inside (= didn't compile it yourself).

[2016-12-16 15:05] dsifford commented on #65
The php7.0 Dockerfile is in the php7.0 folder and the php5.6 Dockerfile is in the php5.6 folder.

[2016-12-16 15:05] #65 closed

[2016-12-19 16:07] ricardo-comar opened #66 "SoapClient is missing on 0.12.1"
Hi,

First I wanna thank you so much !! I'm using this project with **WooCommerce** plugin so far, and it's helping us a lot to simplify the environment setup. You guys rock!!!

Today we updated our local docker image to latest (0.12.1), and we noticed our WP plugin stopped working. We just realized that the **PHP SoapClient** is missing on latest version, but it's present until 0.11.0. **WooComme

[2016-12-19 16:49] dsifford commented on #66
Hi @ricardo-comar

Thanks for the report. I've added the fix for this to #61 (just awaiting @karellm's approval for the merge).

To enable it in your current build, open up a shell session in the wordpress service and run the following command.

[code]

Let me know if that doesn't work for you. 👍

[2016-12-22 12:38] ricardo-comar commented on #66
Hi @dsifford

I tested that snippet and it's working as expected. Thanks for the quick reply ! ;)

But for my team I fixed the version to 0.11.0 on docker-compose, it has all the features we need for now.

BR

[2016-12-22 18:14] #66 closed

[2017-01-04 14:20] louisremi opened #67 "Making it easier to tweak php.ini"
Hi guys, and thanks a lot for this project! I hadn't done WordPress development for some years and it seems you brought a bit of sanity to this old world 👍

I needed to adjust some variables in php.ini to increase upload size on my website. I tried to modify the dockerfile both in the `php5.6` and `php7.0` directories, but that didn't work. I googled my problem and found a comment in a separate pr

[2017-01-04 14:54] louisremi opened #68 "Where is the "Auto deploy your site on your server" article? :-)"
Hi @karellm,

I've been playing with this project for two days and discovered that the article/docs on how to get a project in production doesn't exist yet. Is there a draft somewhere? I'm quite new to Docker and don't quite know where to start.
Any help would be greatly appreciated.

Best regards,
Louis-Rémi

[2017-01-04 18:02] dsifford commented on #67
@louisremi All you should have to do with the setup in its current form is create a `*.ini` file somewhere at or below the root of your project and then create a volume to that file at `/usr/local/etc/php`.

So, in other words. Assuming you have a project that looks like this...

[code]

create a volume like this

[code]

You may or may not need to reload the apache service for that to take effect

[2017-01-04 18:02] #67 closed

[2017-01-05 08:17] louisremi commented on #67
Hi @dsifford,
Thanks, but I wasn't searching for a solution to my problem, I was rather suggesting that this file should exist by default, or this procedure should be documented somewhere, to save other people the time it took me to find the answer :-)
Also, if I use the .yml line you suggested instead of the one I was suggesting, won't I end up overriding the variable set by the dockerfile? `RUN

[2017-01-05 17:00] dsifford commented on #67
Send in a PR with changes to the readme and I'd be happy to merge.

Good point about the overwriting `php.ini`.. Forgot we had that in the dockerfile. In that case, you can just name it whatever you want and it should get picked up by apache as long as it has the `.ini` extension.

[2017-01-05 18:36] karellm commented on #68
Hi @louisremi, I'm sorry but I don't currently have the time to write on the subject. This project is mostly intended for development and deploying it is not necessarily a good idea. @dsifford Has actually more experience deploying Wordpress via Docker than I do.

[2017-01-05 19:26] dsifford commented on #68
@karellm is correct. As of right this moment, there is not really a good way to deploy a wordpress site using compose because you lose the benefit of containerization and separation of concerns (all your services land in a single instance).

Having said that, this is all going to change _extremely_ soon. When [compose v1.10.0](https://github.com/docker/compose/milestone/21) lands, there will be a

[2017-01-16 16:52] dsifford opened #69 "Should we consider adding certbot to this image for retrieving/renewing ssl certificates automatically using letsencrypt?"
@karellm I'm thinking about actually using this image for production use, but one key component it is lacking is an ability to easily get and renew SSL certs.

Would this be something you think we should add to this?

[2017-01-16 17:00] karellm commented on #69
I think so yes. Maybe we could use Let's encrypt

[2017-01-16 17:04] dsifford commented on #69
Yep, we sure can. I'm pretty sure I have an idea on how to go about it.

Want me to send a PR?

[2017-01-17 13:53] louisremi commented on #64
I'm having much trouble updating my database because for some reason, on my computer, `docker-compose` and `docker exec` won't work without sudo. This breaks all `npm run wp ...` commands, so the easiest for me was to enable phpmyadmin, drop my entire database, and `sudo docker-compose up` to let the script load the updated db. Hope this helps other with the same problem.

[2017-01-17 14:04] dsifford commented on #64
@louisremi `sudo usermod -aG docker $USER`

[2017-01-17 14:13] louisremi commented on #64
I've spent hours trying to fix that problem, and that command didn't work for me :-/

[2017-01-17 14:17] dsifford commented on #64
Does the docker group exist? If not you'll need to run `sudo groupadd docker` first

[2017-01-17 16:23] karellm opened #73 "Flew"
@dsifford I got contact by the guys behind this: https://local.getflywheel.com/

Thought I would share, it looks interesting.

[2017-01-17 17:45] louisremi commented on #64
Oh, apparently I forgot to logout and log back in after I added myself to the group 👎
I'm good now.

[2017-01-17 21:48] dsifford commented on #73
Nice! What was it they contacted you about? Just pitching their project?

I recall seeing this on Product Hunt a couple months ago. Made me giggle. Looked like it was essentially this project, but for people who don't like to use the terminal. Never looked into it beyond there though.

[2017-01-18 12:52] louisremi opened #74 "Suggestion: add Composer to the image"
Having PHP's Composer pre-installed in the image and adding a 'REQUIRE` property in the `docker-compose.yml` would be a very nice addition to this project I believe.

I'd like to use wordpress-starter to unit-test a plugin of mine. Having Composer pre-installed would allow me to quickly install PHPUnit and test my plugin.

I might give a PR a try, but I'd prefer to be sure that it has a chance of

[2017-01-18 12:54] louisremi commented on #73
Only available for Mac and Windows :-/

[2017-01-18 13:29] karellm commented on #73
Yeah they just wanted feedback on what they do and for me to talk about them in our blog articles. I personally have no time to spend on this at the moment but thought I'd share.

[2017-01-18 13:36] karellm commented on #74
I think that's a fair request. Happy to look at the PR 👍

[2017-01-18 21:29] #69 closed

[2017-01-18 21:32] dsifford commented on #68
Working on deploying two sites using this orchestration now.

Scratch what I said about compose v1.10.0 solving all the issues. It doesn't. `docker stack deploy` builds each image into a `.dab` file and strips all the volumes. So that won't work.

Having said that, if you're okay with deploying to a single cloud provider and having all your services managed virtually in a single cloud box, I can h

[2017-01-18 21:33] dsifford commented on #73
What are they going to do for us? That's a shame. For a minute there I thought they might have been interested in joining forces.

[2017-01-18 21:37] dsifford opened #75 "Attempt #3 - Can I convince you to enable automatic builds?"
@karellm I'm beginning to notice a theme in the Dockerhub repo...

![image](https://cloud.githubusercontent.com/assets/5240018/22083990/4c7287fc-dd9c-11e6-9bef-b818f1f7ed70.png)

This can be completely solved by enabling automatic builds. Additionally, the `README.md` from github will stay synced with the Dockerhub readme. It's a win-win.

[2017-01-19 10:55] louisremi commented on #68
Yes, that's what I intended to do. I saw there were some tutorials about "using docker-compose in production" out there. But any help would be appreciated.

[2017-01-19 22:49] karellm commented on #75
I will talk about this with the team.

[2017-01-19 22:50] karellm commented on #73
No, that's not what's on the table at all. I don't see "competition" as an issue personally.

[2017-01-19 22:50] #73 closed

[2017-01-20 15:33] louisremi opened #77 "It should be possible to specify the version of themes and plugins installed from wordpress.org"
There's a very good reason why most package managers out there (e.g. NPM, Composer, Docker Hub) make it a good practice of explicitly specifying the version of dependencies: that's because newer versions of dependencies can (and often will) break your project.

wp-cli makes it possible to specify theme and plugin versions. Wordpress starter should not become a dependency manager, but being able to

[2017-01-20 15:48] dsifford commented on #77
In my personal opinion, if you require an older version of some plugin, you should have it downloaded as a local volume.

Forcing the newest volume on start forces the person to update whatever breaking issue exists with their theme which I think is the right way to go.

I'll let @karellm decide on this. My vote would be no.

[2017-01-20 15:57] louisremi commented on #77
I see wordpress-starter as a great way to make developers' life easier. Being forced to fix bugs produced by other people's code isn't the most pleasant chore in my experience. Anyway, this behavior would only be optional and is pretty straightforward to implement (and maintain).

[2017-01-20 16:02] dsifford commented on #77
I've run into this scenario more than a few times and it's always been easiest for me to just run `wp plugin install pluginname --version=1.0.0 --activate` to quickly install the plugin at whatever version is causing issues.

I generally don't fix issues as soon as they are reported, but rather wait for 3-5 to build up and tackle all of them at once. So burning the environment and reinstalling eve

[2017-01-20 16:05] dsifford commented on #77
One thing that I would personally recommend is that if you are setting up an environment for the development of a plugin, do not edit your compose file for small issues that arise. The compose file should be everything that you and only you need for your plugin. Use the cli tool to make small tweaks as needed for debugging. Otherwise you'll eventually run into an issue where you forget that you di

[2017-01-20 16:17] louisremi commented on #77
I plan on using wordpress-starter in different scenarios and, you're right, I'll leave my docker-compose.yml mostly untouched when developing plugins :-)

[2017-01-20 17:43] karellm commented on #77
First thanks for the interest and contributions. It is very welcome 👍

I'm a little concerned by the complexity of the project. My tendency would be to follow @dsifford recommandation here. If it is a big hurdle I'm happy to looks at a PR proposal.

[2017-01-23 10:15] louisremi commented on #77
It's not a showstopper. Closing for now, but I'll definitely reopen and push again if I ever get bitten by this feature :-)

[2017-01-23 10:15] #77 closed

[2017-01-23 16:46] louisremi commented on #12
Since I began using wordpress-starter two weeks ago, I had the same problem as @vlkz: every time I restart the container, I need to change the permission of volumed files in wp-content before I can edit and save them.

I thought this was normal but it probably isn't. Why aren't the file permissions 664 instead of 644 [in run.sh](https://github.com/visiblevc/wordpress-starter/blob/master/run.sh#L12

[2017-01-23 17:42] dsifford commented on #12
@louisremi Known annoyance. Has to do with the bootstrap user being `root`. I can fix when I get some time.

[2017-01-23 17:45] dsifford commented on #12
The fix in the meantime is to just run `sudo chown -R $USER .` in the project root on your local machine after building the first time.

[2017-01-23 17:46] louisremi commented on #12
Alright. Can you reopen this bug to make sure its taken care of at some point :-)

[2017-01-24 10:34] louisremi commented on #12
Note that I need to use your workaround after each `docker-compose up`, not just after building the first time. A 664 permission on Wordpress files would allow me to use my workaround just once :-)

[2017-01-26 08:31] louisremi opened #80 "Sugestion: improve Development Instruction"
I'm making a lot of tweaks to the `Dockerfile` and `run.sh` files lately, and I was wasting a lot of time pushing run.sh on Github and building my image with `--no-cache`... until I realized that I could just volume run.sh, which, I believe, allows me to build my image without `--no-cache`.

Maybe the wiki could mention this simple trick to make local development of the project easier?

[2017-01-26 10:52] louisremi opened #81 "Help Request: Adding xdebug to the image"
I'm working on adding xdebug to my image. I hoped I could simply switch the base image of this project to an image that includes xdebug, such as [MiLk/docker-php-xdebug](/MiLk/docker-php-xdebug). Unfortunately, none of the image or instructions I've found out there allowed me to successfully get xdebug to work.

I'll send a PR with the changes I've made to the Dockerfile. Any help would be greatly

[2017-01-26 10:58] louisremi commented on #81
See https://github.com/visiblevc/wordpress-starter/pull/82/files#diff-213510ff1a0954432e1f45c9d4f91c68

[2017-01-26 13:55] karellm commented on #81
Please don't open both a PR and issue. Let's centralize the conversation to #82

[2017-01-26 13:55] #81 closed

[2017-01-26 13:58] karellm commented on #80
@louisremi I added a Development section in the wiki. Feel free to add the instructions you want there. Please try to keep the content short and sweet though, the goal is not to document all the Docker internals. Thanks!

[2017-01-26 13:58] #80 closed

[2017-01-26 15:15] #74 closed

[2017-02-01 10:45] leiluspocus opened #83 "Can't start the MySQL container on Fedora"
## Overview

- What's your problem about?
The environment is working flawlessly on Mac, thank you ! I'm trying to make it work on a coworker's laptop running on Fedora and it seems like there is not enough space on his laptop. It breaks during the docker-compose up when the script tries to run the MySQL container.
I checked the partitions and it seems like one of them is full : https://s29.postimg

[2017-02-01 18:15] dsifford commented on #83
@leiluspocus It looks like your coworker has `/var/lib/docker/devicemapper` and `/` mounted to `sda3` which is probably going to cause problems beyond docker eventually since he/she is running low(ish) on space for all directories other than `/home`.

To answer your question specifically: On my home linux pc, I have `/var` mounted to it's own 1TB HDD (which is admittedly overkill, but I had the dr

[2017-02-01 18:15] #83 closed

[2017-02-13 22:39] musicaljoeker opened #84 "My themes and plugins get pruned."
## Overview

- What's your problem about? For whatever reason almost all my plugins and themes get deleted every time I instantiate this docker configuration. Docker says they get pruned. Is there a way to disable pruning? Even if I paste the plugins after I have Docker booted and activate them, they still get pruned on next boot.
- What is your operating system? macOS Sierra 10.12.2
- What is you

[2017-02-13 23:18] dsifford commented on #84
Hi @musicaljoeker

To prevent your `local` themes and plugins from being pruned, all you need to do is list them explicitly in `PLUGINS` and `THEMES` and prefix them with a `[local]` tag...

So, in your case... Your compose file should look like this...

[code]

As a side note: I'm curious why you have all of those plugins and themes installed locally in the first place? Installing them fresh on e

[2017-02-13 23:18] #84 closed

[2017-02-15 15:41] musicaljoeker commented on #84
Thanks for the really quick response! I'm still getting used to this framework. We have a few paid plugins and themes, but I will install as many as I can on each run.

Thanks again!

[2017-02-23 15:20] Spone opened #86 "WP-CLI: sudo command not found"
Hello there,

## Overview

- **What's your problem about?** When I'm trying to run any WP-CLI command using `npm run wp ...` I'm getting the following error: `/bin/bash: sudo: command not found`
- **What is your operating system?** Ubuntu 16.04 LTS
- **What is your docker version?** `docker version 1.13.1, build 092cba3`

Can you help?

Thanks

[2017-02-23 16:41] Cuchulain commented on #86
install *sudo* under *root* account:
`apt-get install sudo`
and then add Your _work_ account into *sudo* group.

[2017-02-23 21:23] dsifford commented on #86
@Spone That's strange. `sudo` is most definitely installed in the container.

Can you tell me what version you're running? You can check by running the following command

[code]

Also, can you open an interactive session inside the container and double check that sudo is not available?

[code]

Thanks

[2017-02-24 21:34] musicaljoeker opened #87 "Problem with WordPress viewing my theme after I rebuild"
## Overview

- What's your problem about?
If I build my theme before I boot Docker, everything works as expected. As soon as I rebuild my project after Docker is booted, WordPress doesn't recognize the stylesheet in my theme -- even if I didn't make any changes, thus not registering the theme at all. If I turn off the docker image and turn it back on again, it comes back as normal.
- What is your

[2017-02-24 22:53] dsifford commented on #87
Hi @musicaljoeker

The issue is that you're deleting your volume in your gulp workflow. If you delete a volume after it's been created, the only way to get it back is to rebuild.

You can prevent this by making changing your `theme-clean` task to this:

[code]

I'm not familiar with `gulp-clean` so I'm assuming that module just deletes whatever you give to it?

The key takeaway point is: Don't del

[2017-02-24 22:53] #87 closed

[2017-02-27 09:28] Spone commented on #86
Thanks for the reply @dsifford

    $ docker inspect -f '{{ .Config.Labels.version }}' $(docker ps -qf 'name=wordpress')
    <no value>
    0.14.0-php7.0

and

    docker exec -it $(docker ps -qf 'name=wordpress') /bin/bash
    rpc error: code = 2 desc = oci runtime error: exec failed: container_linux.go:247: starting container process caused "exec: \"4a0dda2447f2\": executable file not found in $

[2017-02-27 17:21] dsifford commented on #86
Is your wordpress container running? If so, can you restart your docker service to see if that helps? I've ran into this a couple times after updating Docker and the solution for me was to just reboot the service and daemon.

[2017-03-02 12:37] Spone commented on #86
Thanks. Restarting Docker service fixed the issue, and I also manage to open the interactive session inside the container, but I had to change the name of the container:

    docker exec -it $(docker ps -qf 'name=wordpressstarter_wordpress_1') /bin/bash

[2017-03-02 12:37] #86 closed

[2017-03-10 11:27] viennaoperator opened #88 "small improvement to documentation DB_HOST"
Hello,
I was struggling to understand the DB_HOST variable and didn't know that it has to match the service name of the mysql/mariadb container. (because docker-compose automatically links the mysql/mariadb container via name in /etc/hosts within the wordpress container)

Maybe you can add this information in your documentation.

[2017-03-10 13:42] dsifford commented on #88
@viennaoperator Open a pull request with your suggested changes and I'd be glad to merge it.

[2017-03-31 17:21] zreese opened #89 "Replacing URLs Error: This does not seem to be a WordPress install."
## Overview

I'm on macOS 10.12.3 (16D32) using Docker version 17.03.1-ce-mac5 (16048).

## `docker-compose.yml`

[code]

## Project structure

[code]

## `docker-compose up` output

[code]

[2017-03-31 23:55] dsifford commented on #89
@zreese Not 100% sure, but I think the issue is that you're voluming the entire `plugins` and `themes` directories. Creating a volume for the entire directory will change the permissions on those folders and wp-cli will not be able to install the other plugins that you need.

Can you try changing your compose file to this and let me know if that works?

[code]

If that's not the cause of this issu

[2017-04-04 10:33] #88 closed

[2017-04-13 17:39] zela opened #91 "Missing Wordpress admin credentials"
Hi there!
I don't see any mentions of admin login and password for Wordpress installation, neither in README, nor in related blog posts. How to access `/wp-admin` area?

[2017-04-13 17:57] dsifford commented on #91
Hm, you're right! Just checked the readme and I don't think we made it completely clear.

By default, the admin username is `root`, and the password is the same as `DB_PASS`.

If you import a database, usernames and passwords are the same as you would expect from the imported site.

Feel free to send a PR with documentation changes if you'd like. Hope the above explanation helps.

[2017-04-17 09:58] lukasholzer opened #93 "Configuring the php version not Documented"
**Hey I'm struggling to find out wich *php version* docker-compose is using.**

In the [README.md](https://github.com/visiblevc/wordpress-starter#available-images) there is a section called available images which are introducing the possibility of choosing one, unfortunately, it is not described to implement one solution.

### There are two folders inside:

[code]

How can I configure to use php7.

[2017-04-17 12:04] karellm commented on #93
In the Dockerfile:

[code]

[2017-04-17 12:04] #93 closed

[2017-04-17 12:05] #91 closed

[2017-04-18 18:56] a-dubiel opened #94 "Local plugins not activated"
Hey! First of all thank you for your work. This is truly less shitty WP development I ever experienced.

## Overview

- For some reason my local plugins are not activated. Weird because they activated before
- I am running several different project with your setup and I get the same error
-

## `docker-compose.yml`

[code]

## Project structure

[code]

## `docker-compose up` output

[code]

docke

[2017-04-18 19:12] dsifford commented on #94
@a-dubiel Looks like you listed the three plugins as `[local]` which is correct, but you forgot to add them as a volume.

Your volumes should be changed from this...
[code]

to this
[code]

[2017-04-18 19:12] #94 closed

[2017-04-18 20:08] a-dubiel commented on #94
Thank you that worked!

[2017-04-19 21:09] musicaljoeker opened #95 "Trouble with getting the WP_CONTENT_DIR"
Hello,

I've been using your WordPress starter kit for a couple months now for dev and it's great, I love it. I'm running into an issue though with the WP_CONTENT_DIR constant in the WordPress codex. Whenever I call this variable, it will return the string `/app/wp-content` which messes with my file system paths when it should be `/wp-content`. What leads me to believe it's an issue with this dock

[2017-04-19 21:24] dsifford commented on #95
@musicaljoeker Hi there.

What are you using that for? I believe WordPress recommends using the built-in helper functions rather than [calling the globals directly](https://codex.wordpress.org/Determining_Plugin_and_Content_Directories#constants). Have you tried those?

If you're stuck using the globals, you can most likely just define `ABSPATH` in your wp-config.php file to point to `/var/www/htm

[2017-04-19 22:17] #89 closed

[2017-04-20 05:14] andrewhavens commented on #12
FWIW I started using this project, following the instructions in the tutorial and readme, and have not run into any kind of permissions issues. I'm running this on my Mac. Maybe this bug has been fixed?

[2017-04-20 05:23] andrewhavens opened #96 "Script for exporting and importing production database"
I'm just getting started using this project, and am fairly new to both Docker and Wordpress development (though I am an experienced Ruby/JavaScript developer). I'm wondering if any of you are using some sort of script to export then import your production database in a way that is compatible with this docker setup. I came across [`wordmove`](https://github.com/welaika/wordmove) but it doesn't seem

[2017-04-20 05:31] andrewhavens commented on #51
Why not put this behind an ENV var feature flag? That way, you could enable the "auto-prune" by setting to true but it would default to false. As a newcomer, it was a little scary when the theme that I was developing was automatically deleted from my computer before I had committed the changes to version control. Luckily, I had a backup, but the auto-prune was definitely an unexpected behavior. I

[2017-04-20 13:23] karellm commented on #51
@andrewhavens I think it should be removed altogether. I don't have the bandwidth to do that now but a PR is welcome. Or maybe @dsifford can take a look at it?

[2017-04-20 14:02] dsifford commented on #51
I still think there's merit in pruning automatically @karellm. I think you were onto something when you suggested using `wp plugin status` rather than `list`, but I still haven't had the time to dig into it.

Maybe this weekend.

[2017-04-20 14:07] dsifford commented on #96
@andrewhavens This project has `wp-cli` preinstalled. If you have it installed on your production server as well, all you need to do is `wp db export db.sql` to run a MySQL dump, then copy the file from your production server to your local `./data` directory (I use `rsync` for this because it's the fastest), then if you build from scratch, the database will automatically be imported. If you're not

[2017-04-23 21:26] #96 closed

[2017-04-23 21:26] #95 closed

[2017-04-27 03:16] markv opened #99 "Add sendmail support to dockerfile"
I'd like to have the ability to specify an smtp server in my docker-compose file so I can use [MailDev](https://hub.docker.com/r/djfarrelly/maildev/) as my development smtp server like this issue:
https://github.com/djfarrelly/MailDev/issues/115#issuecomment-216831734

Can we add sendmail to the dockerfile?

[2017-04-27 03:26] dsifford commented on #99
@markv Have you tried one of the various SMTP monkey-patchers that are available as wordpress plugins? (e.g. https://wordpress.org/plugins/wp-mail-smtp/)

Does that not work? You should be able to, at the very least, just create a burner gmail account link up to it via SMTP for testing your emails.

[2017-04-27 03:54] markv commented on #99
Yes, I've used that plugin before. I was trying to avoid installing a plugin and keeping the configuration outside of wordpress.

[2017-04-27 22:01] dsifford commented on #99
I see.

Unfortunately, since this is a pretty niche need and not really going to be widely needed by a majority of the other users, I'm going to have to recommend just forking this repo and adding in the configuration for yourself.

We'd really prefer to keep the Dockerfile as slim as we possibly can unless there is a widespread need for  changes to be made.

Thanks for the request nevertheless.

[2017-04-27 22:01] #99 closed

[2017-04-29 20:18] dsifford commented on #75
Nevermind. I'm going to start building to my own dockerhub account using this mirror I just set up: https://github.com/dsifford/wordpress-starter-mirror

[2017-04-29 20:18] #75 closed

[2017-04-29 20:27] dsifford commented on #75
@karellm That said, I'd really prefer to autobuild from this repo because maintaining a mirror along with this repo is a bit overkill and sort of a pain.

I might end up forking to my own project again if this becomes too much of a hassle.

[2017-04-29 20:55] dsifford commented on #75
Nevermind. I'm able to build automatically from this repository since I'm a contributor. https://hub.docker.com/r/dsifford/wordpress/

[2017-05-01 18:31] carpnick commented on #12
I just hit this with the themes folder and the plugin folder.  It was being mounted as docker:staff.  The files could not be read by apache.  Using boot2docker.

Narrowed it down to this issue: https://github.com/boot2docker/boot2docker/issues/581

Which brought be to the following workaround(once container is built, inside container run):
[code]

This is making it so the mounted volumes and the u

[2017-05-01 18:32] dsifford commented on #12
@carpnick #97 addresses and fixes this problem. Just waiting on code review 🎉

[2017-05-01 18:35] carpnick commented on #12
Thanks @dsifford .  Needed to understand what the heck was going on before I attempted a review.  Spent several hours understanding how your entire process was working, where docker/vbox/boot2docker all play together.  I am rather new to docker, so I had to do a big lift to get the understanding.

[2017-05-23 16:06] #12 closed

[2017-05-23 16:06] #51 closed

[2017-05-27 11:32] psimyn opened #100 "invalid image version in example docker-compose"
visiblevc/wordpress:0.15.1-php7.1 doesn't seem to exist. I think 'latest-php7.1' are the new tags?

https://github.com/visiblevc/wordpress-starter/blob/master/example/docker-compose.yml#L4

thanks for the repo!

[2017-05-27 12:05] karellm commented on #100
@dsifford That's why I don't want us to push to master directly and should always make PRs.

I have [simplified the deploy process](https://github.com/visiblevc/wordpress-starter/wiki/Development), I know it is an extra step from automated builds but can you make sure to deploy to the visiblevc hub repo too when there is a new version?

[2017-05-27 14:28] dsifford commented on #100
@karellm The automatic builds work fine actually.

I told you that I was not going to manually update your images here: https://github.com/visiblevc/wordpress-starter/pull/97#issuecomment-303448797

I pushed to master with the patch because you weren't reliably able to respond to PRs in a reasonable window of time and it needed to be fixed.

[2017-05-27 14:30] dsifford commented on #100
@psimyn try `dsifford/wordpress:0.15.1-php7.1`

[2017-05-28 02:56] karellm commented on #100
@dsifford I don't think it is reasonable to talk about timely fashion when you didn't make a PR or request a review. This is an OS project; I ask you that we don't commit to master directly and make PRs instead. May it be urgent, you can merge it and I will review it later. But there needs to be a track of the changes.

The main issue here though is different. You pushed something to master and as

[2017-05-28 02:59] karellm commented on #100
@dsifford I will add that I'm not huge on the confusion brought by your fork. I don't mind it, but I don't think it has its place in this repo README or as a recommandation in issues. I know manually deploying is an extra step but it must be done. And if it is done, there is no need for the fork anyway. Thanks!

[2017-05-30 20:05] dsifford commented on #100
@karellm Copy, loud and clear.

@schoenwaldnils Are you still having issues? Have the updated images not been pushed to the visiblevc account?

[2017-05-30 20:58] schoenwaldnils commented on #100
@dsifford I cloned the repo, `docker-compose up -d && docker-compose logs -f wordpress` in the example folder and got this:
`ERROR: manifest for visiblevc/wordpress:0.15.1-php7.1 not found`

[2017-05-30 23:29] dsifford commented on #100
@schoenwaldnils I just pushed the updated images.

Should be all set to go with `visiblevc/wordpres:0.15.1-php7.1` and the other tags.

[2017-05-30 23:29] #100 closed

[2017-05-31 00:07] schoenwaldnils commented on #100
Would be at least nice to wait for an answer before closing this issue.

[2017-05-31 00:26] dsifford commented on #100
@schoenwaldnils I don't really appreciate your tone.

What kind of answer should I be waiting for for this?

The issue was that the tagged images were missing. I resolved that issue.

[2017-05-31 00:49] milojennings opened #102 "My Themes and Plugins get pruned despite [local] prefix"
## Overview

- What's your problem about?
    - Local themes & plugins are pruned / deleted
- What is your operating system?
    - Mac OSX Sierra 10.12.5
- What is your docker version? `docker version`
    - 17.03.1-ce

## Details

When I run `docker-compose up -d && docker-compose logs -f wordpress` the contents of `wp-content/themes/Divi` is deleted. The folder remains, but no files are left. It

[2017-05-31 01:17] dsifford commented on #102
Hey @milojennings

I think I might know what's going on. First, can you tell me what the output of the following command is?

[code]

Thanks in advance 😄

[2017-05-31 01:33] milojennings commented on #102
Hey @dsifford thanks for the quick response. The output of that command is:

[code]

[2017-05-31 01:46] dsifford commented on #102
Aha! Thought that might be the case.

Your image is one version outdated. The deletion issue was fixed (as far as I could tell) in 3db6fa04e93e5e037f4fab40e406b40ac9fe98fe

Deleting and re-pulling the image should do the trick. Let me know either way. Sorry for the headache!

[2017-05-31 01:55] milojennings commented on #102
Well... It looks like I'm running version `0.15.1-php7.1` now, yet it's still deleting themes and plugins.

[2017-05-31 02:05] dsifford commented on #102
Hm, dang.

Just to confirm. You completely destroyed your old volumes and containers and rebuilt fresh, correct?

I'll try and replicate this on my end to see if I can reproduce.

[2017-05-31 02:06] dsifford commented on #102
@milojennings If you have a repo somewhere that I can pull, that would be awesome. I have access to the Divi theme so that doesn't need to be included.

[2017-05-31 02:13] milojennings commented on #102
@dsifford I ran
```docker rmi visiblevc/wordpress:latest --force```
then
```docker-compose up -d && docker-compose logs -f wordpress```

Is there anything else I should have done? I'm pretty new to using Docker.

[2017-05-31 02:19] dsifford commented on #102
Not sure if it would matter or not, but I was talking about doing `docker-compose down -v`

prior to re-running `docker-compose up`.

The goal would be to have both of the following commands show no results:

[code]

[2017-05-31 03:15] dsifford commented on #102
@milojennings Just tried to reproduce using the following compose file and was not able to. Worked fine on my end.

I have a feeling mac handles groups differently than linux. I have a fix I think, but if you don't mind, could you try something for me first?

Create an empty directory somewhere on your computer and add a `docker-compose.yml` file in it as well as a text file with some text in it c

[2017-05-31 03:20] dsifford commented on #102
Also, if you still have an affected wordpress container built and running, can you also run the following and let me know what the output is of the last command?

[code]

(again, `$` denotes your shell, `#` denotes the container shell)

Thanks

[2017-05-31 10:23] milojennings commented on #102
Thanks! I think I had a lingering copy of the image from another test. After running `docker-compose down` in both directories, I was able to start over, and my plugins and themes are not being pruned! Finally!

Not sure if this is matters anymore, but I also put together the little test you outlined:
```stat -c '%n - User: %U(%u), Group: %G(%g)' tester.txt```
outputs
```tester.txt - User: root(0)

[2017-05-31 15:50] dsifford commented on #102
@milojennings FYI: This is still very much broken on OSX. Just gave it a try. Mac mounts volumes in a completely different way than linux does which sort of screws everything up.

I'll have to fix this later.

cc @karellm

[2017-05-31 16:13] dsifford commented on #102
Update: I have a fix that I'm certain will work once and for all on this, but it'll take a couple days to finish.

[2017-05-31 19:08] dsifford commented on #102
Scratch my last. Changing to how I thought I was going to be able to do it is becoming a colossal pain in the ass so I'm not sure when I'll be able to fix this.

Gotta step away from this for a while to maintain sanity (like all WordPress projects).

[2017-06-01 15:49] #102 closed

[2017-06-01 22:35] psimyn commented on #100
all is well, working great now. Thanks @dsifford

[2017-06-02 17:35] lukasholzer opened #104 "Storing Uploads of Wordpress"
Hey I have the problem, that everytime I restart my machine all the uploads are gone. They are still in the library but if I call the url I get a 404.

How should I configure the docker-compose.yml to provide access to a local folder. Can you help me?

## `docker-compose.yml`

[code]

## Project structure

[code]

[2017-06-02 18:34] dsifford commented on #104
@lukasholzer Just add the uploads directory as a volume to your wordpress service

[code]

[2017-06-04 09:41] lukasholzer opened #105 "Maximum upload file size"
Hey is there a way to increase the Maximum upload file size of 2 MB for WordPress?.
The best way would be an environmental variable in the docker-compose.yml

Regards Lukas

[2017-06-04 10:50] lukasholzer commented on #104
Thanks!

[2017-06-04 10:50] #104 closed

[2017-06-04 15:29] dsifford commented on #105
Yeah, just create a `.ini` file somewhere in your project, adjust the values of `memory_limit`, `post_max_size`, and `upload_max_filesize`, and then add it as a volume to `/usr/local/etc/php/conf.d/file-name-can-be-anything.ini`

[2017-06-04 19:23] lukasholzer commented on #105
**./config/php.ini**
[code]

[code]

but wordpress tells me *'Maximum upload file size: 2 MB.'*

[2017-06-04 20:13] dsifford commented on #105
You might need to run `service apache2 reload` in the wordpress container for it to take effect.

[2017-06-16 13:36] cbravo commented on #68
@dsifford @louisremi I am also looking to deploy this project to production and need any kind of advice you might be able to give me... anything to point me in the right direction. I have it working wonderfully on my local machine (thank you for a great project) but I do not know what the next steps are to deploy this to my staging and prod servers....

[2017-06-16 18:10] dsifford commented on #68
@cbravo I'm currently running this in production for a couple sites.

Two up front provisos to know about before getting started:

1. There is currently no php mailserver included in this orchestration. So you won't be able to send mail using `wp_mail` or PHP's `mail` functions. Currently the workaround is to use a transactional email service (we use sendgrid, which provides a one-click install pl

[2017-06-20 18:48] dsifford commented on #105
Haven't heard back. Assuming the above fixed your issue.

[2017-06-20 18:48] #105 closed

[2017-07-22 10:02] ieugen opened #107 "URL's don't work for an imported website"
## Overview

I started working on a project based on this starter. I imported an existing database and the home page is rendered when I go to `http://localhost:8080/ `. However, all the links in the homepage redirect me to `http://localhost/...` instead of `http://localhost:8080/...`  . Why is that happening? I have tried everything to fix this.

How can I work on an imported wordpres database loc

[2017-07-22 10:18] ieugen commented on #107
Changing the port from `8080` to `80` makes the site reidrect from `http://localhost/` to the original url `https://example.net` .

[code]

[2017-07-22 10:53] ieugen commented on #107
I've fixed it by adding proper values for `siteurl` and `home` options via phpmysqladmin to  `http://localhost` .

I've tried changing both options via `wp cli` but it did not work for me.

[2017-07-24 14:46] ieugen commented on #107
I'm using a database migration script that I put in `data` to do this automatically:

[database-update-site-and-home.sql]
[code]

[2017-07-24 16:55] dsifford commented on #107
@ieugen You need to set the URL_REPLACE environment variable so that imported URLs get replaced with the local URLs.

So, in other words, if your site's URL is `www.mycoolsite.com`, you need to set URL_REPLACE to `www.mycoolsite.com,localhost:8080`

[2017-07-25 11:19] ieugen commented on #107
Hi,
I tried that initially and it did not work.

Another thing that was not clear/ worked nu-expected: if you add `database.sql` to data, you also need to change the database name in docker-compose config file. Not doing so results in the database not being used. The strange thing is that I don't seem to see the import in the logs all the time and I am doing docker-compose up && down.

I expected

[2017-07-25 14:47] dsifford commented on #107
This is not correct. I use databases named all sorts of different things with no issues.

Can you create a small test repo on github that reproduces your issue so I can try it? That's likely the only way I'll be able to figure out what exactly is causing your issue.

[2017-07-27 14:39] ieugen commented on #107
Hi,

Thanks for the reply. I think that is also caused by me not familiar with docker and the setup.
The database data are persisted in a volume that is removed only when using `docker-compose down -v` . I'm not sure but some operations happen only on first creation of that volume.

I think this should be specified in the docs. It would have helped a lot. Also the lifecycle: what happens when I do

[2017-07-27 19:33] dsifford commented on #107
Wordpress is only downloaded on first build (even though the logs might say otherwise).

Plugins are also only downloaded if they don't exist. So all of them are downloaded on first build and then if any are added or removed between builds, plugins are added or removed to match the compose file.

You can provide volumes of any plugins/themes that you'd like, but if you just want to be able to star

[2017-08-02 14:11] ieugen commented on #107
Thanks @dsifford . I managed to fix the url problem so this ticket can be closed. I'm still missing some pieces but now I can re-create the setup and that is ok. I will create new issues for the other stuff.

Thanks,

[2017-08-02 14:11] #107 closed

[2017-08-15 05:14] ieugen opened #109 "php-intl is missing - or - how to install extensions?"
Hi,

I'm using version 0.15.2 of wordpress-starter and in one place I use `MessageFormatter` to handle plurals correctly.

Because of that I get  `Uncaught Error: Class 'MessageFormatter'`

I believe php-intl is missing and I will look into adding that, however, I imagine that I might not be the only one with the issue and having the extensions installed might be good.

Since there are a lot of ex

[2017-08-15 05:49] ieugen commented on #109
Looking at the Dockerfile for php-7.1 image I managed to install intl with `` but it was not easy. I got some pointers from [1].

p.s. Debian Stretch is out with php7.

[1] https://github.com/docker-library/php/issues/57

[2017-08-15 14:35] dsifford commented on #109
Adding extensions is easy, it just needs to be done during the initial compilation. If you'd like, try adding the extension to [this chain of extensions](https://github.com/visiblevc/wordpress-starter/blob/master/php7.1/Dockerfile#L23), compile the dockerfile, and let me know if it works. I have no problem adding it in.

[2017-08-15 14:39] ieugen commented on #109
Hi,

It might not be that simple for all users. Some extensions require extra dependencies as well.

If I have a running setup, how can I rebuild my image to include the extra extensions?

In the current setup I believe I have to publish a new image.

[2017-08-15 14:44] dsifford commented on #109
[code]

[2017-08-15 14:59] ieugen commented on #109
I remember the image was based on Debian Jessie which has php5.6 but I will try. Thanks.

[2017-08-24 20:19] carpnick opened #110 "Usability and readability - when errors happen with plugin install"
## Overview

This issue is in regards to the output of `docker-compose up` when executing.  No OS version or docker version specific issues

The earlier output, earlier version of the container/run.sh, when installing plugins showed which plugin was having issues installing/activating, see sample:
[code]

Latest version however, makes it very hard for developer to determine what went wrong:
[code]

[2017-08-28 18:31] dsifford commented on #110
In a recent update, we opted to use the built-in logging provided by wp-cli, rather than to use our own logging strategy due to the unnecessary complexity that came with logging things our own way.

I agree with your thoughts, however, I think this issue might be better served if it's brought up in the wp-cli repo directly rather than here as it will benefit both the users of this docker orchestra

[2017-08-30 19:26] carpnick commented on #110
Good call @dsifford .  See PR using wp-cli output natively now.

[2017-09-11 08:47] Surgeonito opened #113 "Multiple starter instances"
Hi,
this starter is a awesome tool.
Thanks.
Is it possible and - if so - how can I achieve it to run multiple WordPress projects at the same time with this wordpress-starter?
I assume that some sort of port settings need to be changed in docker-compose.yml, but have no clue how to achieve it.

[2017-09-11 16:04] dsifford commented on #113
@Surgeonito Though theoretically possible by creating additional wordpress services and linking them to the database service (using a different database name), it would be safer to achieve this by creating a cluster of wordpress nodes and managing them with either kubernetes or docker swarm.

That said, if you're still determined to try this out in a development setting, I'm pretty sure you can do

[2017-09-12 06:20] Surgeonito commented on #113
Hi, thank you for this.
Let me describe my situation.
I have multiple project.
Each project has it's own repository with prepared instance of wordpress-starter - this helps to takeover the project by another developer much easier.
So there is a separate db dump file, I also modified the bash script to get plugins/themes from private repositories.
Every single project is separated.
What you propose

[2017-09-12 12:48] dsifford commented on #113
The example I posted below should accomplish what you're describing

[2017-09-12 20:25] karellm commented on #113
@dsifford I think the confusion comes from the fact it is a single docker-compose config, instead of multiple ones.

@Surgeonito Using unique service names like suggested above, you should be able to accomplish exactly what you want. At this point it is more about docker-compose than this project. If you can't get it to work, please post what you've tried (config, output...).

[2017-09-13 06:19] #109 closed

[2017-09-13 06:20] ieugen commented on #109
Solved using instructions from https://github.com/visiblevc/wordpress-starter/pull/111

[2017-09-16 09:27] Surgeonito commented on #113
Yup, it should.
So I run first starter with

`version: '3'
services:
  wordpress:
    image: visiblevc/wordpress:0.15.2-php7.1
    ports:
      - 8080:80
      - 443:443
    volumes:
      - ./data:/data
      - ./wp-content/plugins:/app/wp-content/plugins
      - ./_srdb:/app/_srdb
    environment:
      WP_DEBUG: 'true'
      WP_DEBUG_DISPLAY: 'true'
      WP_DEBUG_LOG: 'true'
      PLUGINS: >-

[2017-09-16 14:38] dsifford commented on #113
You can't use ports 443 and 22222 more than once. Those are probably causing the issue.

You don't need to forward port 443 if you don't plan on using the site live in production with SSL encryption so you can just skip that.

Additionally, unless you're using phpmyadmin, you can just remove that service. If you are using it in both cases, you just need to change the port to something else.

[2017-09-25 12:48] carpnick opened #114 "Feature - Modify run.sh to be based on python"
As discussed in PR #112 , there is a need to move to python for the commands and logging.

A rewrite that includes proper classes/methods and logging would help allow more complex operations without impacting maintainability.

[2017-09-26 14:04] lukasholzer opened #115 "Documentation for automatical deploy"
Can you write the documentation for **automatical deploy for production** in the Readme.md?
It would be nice to see how you suggest a production workflow with this loved repo.

Regards Lukas

[2017-09-29 04:09] krzysztofp opened #116 "Debugging question"
Hello,

Really nice set-up, good work!

I have a workflow / general question on debugging WP on local environment when using this set-up.

In my normal workflow I can add echo/print to the php code including plugins and wp-core (of course I'll remove it once I've found the issue) - but with your set-up I don't have easy access from the host machine to the wp and plugins code.

What do you recommen

[2017-09-29 18:00] dsifford commented on #116
@krzysztofp vim (and also likely nano) is available in the wordpress container so if you need to make any edits to built-in files the method of doing that would be to open an interactive session in the wordpress container and edit that way..

So, for example..

[code]
...etc.

The alternative would be to create a volume of the entire `/app` directory, but that defeats the purpose of containerizati

[2017-10-02 12:03] signaleleven opened #117 "COPY run.sh rather than curl-ing it from github"
Is there as specific reason why the Dockerfile collects run.sh from github, rather than copying the local one?
Do you commit to master and push every time you change your run.sh?

I'm a relatively docker-noob, so I might be missing something here :)

[2017-10-02 13:54] danipolo opened #118 "auto deploy release?"
Hi,

Not an issue, just a question:

When do you plan to release the Part 4: Auto deploy your site on your server?

Looks awesome!

Regards

[2017-10-02 15:31] karellm commented on #118
I don't plan on writing it any time soon. Your best bet is for @dsifford to document how he deploys his installs to production.

[2017-10-02 15:33] karellm commented on #117
Because when you get the image from the hub, you don't have local access to the files in this repository. This would be a valid option if everyone was creating the image from this repository but that's not the case.

[2017-10-02 15:33] #117 closed

[2017-10-02 15:44] dsifford commented on #118
See here: https://github.com/visiblevc/wordpress-starter/issues/68#issuecomment-309096255

[2017-10-02 15:45] karellm commented on #115
Closing as duplicate of #118

[2017-10-02 15:45] #115 closed

[2017-10-02 15:45] dsifford commented on #118
Of note: Kubernetes looks like a potentially nice way to deploy this, but I've never dove into it. It would probably be the route I'd go now if I didn't already do it the way described in the link above.

[2017-10-02 15:50] danipolo commented on #118
Yes, it looks your deployment via scp it's maybe little bit basic for our needs. Move all to Kubernetes its something out of my posibilities right now (too much changes). I will check if there's something more organized. Thank you all!

[2017-10-02 16:17] signaleleven commented on #117
but why not copy the run.sh directly into the image?

[2017-10-02 16:25] dsifford commented on #117
It's moot. You could use the copy instruction if your plan was to always build from source and then push the images to the hub that way.

That does not work though if you make changes to the source and then want to trigger an automated build from dockerhub.

[2017-10-02 16:41] signaleleven commented on #117
I assumed that dockerhub automated builds were pulling context from a repo before building. Probably there's my problem. Sorry about that.

However, it makes little sense when you make local changes to the source, run a build, and find out that the Dockerfile ignores your changes and fetches the file from a remote repo...

[2017-10-02 16:45] dsifford commented on #117
Yep, that's super annoying. For that reason, I keep a development Dockerfile in the repo's root that is gitignored.

https://github.com/visiblevc/wordpress-starter/blob/bf12e964bb93db2110f23a96f602e1a14479cb55/.gitignore#L21

Docker may have changed the way they handle repo files, but back a year or so ago you needed to curl them in. If you can prove otherwise, I'd be happy to change it.

[2017-10-03 11:04] signaleleven commented on #117
I did it like this:
https://github.com/signaleleven/wordpress-starter/tree/refactor

I moved all the dockerfiles to the project root (so they can share the run.sh - although I only modified the php7.1 to do that, as a PoC).
They can be built with docker build -f [filename], so you retain local build capability.

As per Docker Hub, you can select different Dockerfiles to be built and tagged accordi

[2017-10-03 21:37] dsifford commented on #117
Shoot, if that's the case then it dockerhub may have been updated.

Can you try keeping the directory structure the same as it is now, using `COPY ../run.sh` in the Dockerfile and adjusting the Dockerfile location? I _believe_ dockerhub should respect the context of the entire repository which should allow the use of parent directory lookups.

to build locally, all you'd have to do is do `docker b

[2017-10-04 12:17] karellm commented on #117
It's been a while I haven't played with Dockerfiles but as far as I remember it cannot access files up in the folder structure, only down. So `../` would not work.

[2017-10-04 13:39] signaleleven commented on #117
Correct.

`COPY failed: Forbidden path outside the build context: ../run.sh ()
`

[2017-10-04 14:16] dsifford commented on #117
I was under the impression that the `-f` flag expanded the build context to wherever the build command was ran from. That may have changed.

[2017-10-04 14:34] signaleleven commented on #117
Yep, you are right.
I can do
` docker build -f ./php7.1/Dockerfile .`

And in that case the root is passed as context.
In that case, the Dockerfile relative paths have to be considered from the root. So,

`COPY ./run.sh /run.sh
`
works, instead of

`COPY ../run.sh /run.sh
`

This is probably trivial for someone experienced with Docker, but that's not me :)

[2017-10-05 17:23] #118 closed

[2017-10-05 19:00] karellm commented on #118
@danipolo If you figure this one out, please share it back with us :)

[2017-10-27 19:18] pragmaticivan opened #119 "Add DB_USER environment variable support"
## Overview

- What's your problem about?
There's no option to use another USER other than `root`
- What is your operating system?
MacOS
- What is your docker version? `docker version`
17.09.0-ce

## Project structure

[code]

[2017-11-03 14:48] carpnick commented on #110
Closing with merged PR

[2017-11-03 14:48] #110 closed

[2017-11-14 13:40] craigedmunds commented on #119
It's hardcoded in the run script https://raw.githubusercontent.com/visiblevc/wordpress-starter/master/run.sh - assume there's a reason for it?

[2017-11-14 18:31] dsifford commented on #119
No reason for it. Just figured it wasn't going to be something that would really matter and defaulting it to simply "root" would be easiest to remember if somebody was responsible for managing a number of different sites.

Adding the option to set the username sounds reasonable to me. Feel free to open a PR.

[2017-11-21 09:29] ggroot commented on #113
@Surgeonito you can accomplish it by adding URL_REPLACE: localhost:8080,localhost:8081 to the environment section of your second config.

[code]

[2017-11-28 14:38] frontendjim opened #120 "Changes to docker-compose.yml and run.sh"
## Overview

- **What's your problem about?**
I'm trying to add a couple of changes to the run.sh file and docker-compose.yml file to have dedicated environment variables for things like the admin user and admin password and title to avoid exposing database credentials, etc but no matter when I try, my changes don't seem to make any difference and I can still log in to wordpress with root/root and

[2017-11-28 17:56] dsifford commented on #120
Changes to `run.sh` will only be reflected if you build your own image. The reason why they currently are not being reflected is because you are pulling the image we built from the docker registry and that image uses our version of `run.sh`

I'm not sure I understand what you're trying to do though. Can you clarify?

You said you're trying to "have dedicated environment variables for things like t

[2017-11-29 15:27] frontendjim commented on #120
Hi @dsifford

Thank you so much for coming back to me. You're totally right, I needed to rebuild the image... d'oh!

Thanks again.

[2017-11-29 15:27] #120 closed

[2017-12-03 02:33] #116 closed

[2017-12-03 19:24] lukasholzer opened #122 "Cannot log in into wordpress with imported .sql file"
Hey, I have the Problem that I want to import a DB dump from the staging server with the actual data. Every thing is so fine I start it with `docker-compose up wordpress` and when I open the browser window on localhost:8080 I get a white screen (blank page) when I go to *localhost:8080/wp-admin* and log me in with my credentials, I get redirected to the admin interface of the staging server **sls-

[2017-12-03 19:29] dsifford commented on #122
Two things could be happening:

1. The most obvious issue could be that the command you're running is incorrect. It should be `docker-compose up`, not `docker-compose up wordpress`. The latter only starts the wordpress service and not the database service.
2. You also will likely need to do a `URL_REPLACE` for the urls in the production site. So, if your production site url is `https://example.com

[2017-12-03 19:31] dsifford commented on #122
Just noticed that you have `URL_REPLACE` set (sorry, only skimmed over your comment).

Try running the correct `up` command form and see if that helps

[2017-12-03 19:36] lukasholzer commented on #122
@dsifford but the DB service is automatically started because it is linked

### docker-compose.yml
[code]

[2017-12-03 19:39] lukasholzer commented on #122
the only difference is that if I run `docker-compose up wordpress` I get only the output of the wordpress instance and not of the db.

[2017-12-03 19:44] dsifford commented on #122
I see... I'd recommend pitching `links` and instead just do `docker-compose up -d && docker-compose logs -f wordpress` since that runs the services in a detached state and allows you to still use the terminal, but that's not a big deal. Just a preference.

Can you rebuild from scratch and paste the output? Looks like the output you pasted is of a site that was built at least more than 1 time.

(so

[2017-12-03 19:57] lukasholzer commented on #122
the new output

[code]

[2017-12-03 19:59] lukasholzer commented on #122
when I go to `localhost:8080/wp-admin` and log in with the credentials I get redirected to this url:

**http://www.sls-eventservice.ch/wp-login.php?redirect_to=http%3A%2F%2Flocalhost%3A8080%2Fwp-admin%2F&reauth=1**

[2017-12-03 20:03] dsifford commented on #122
From your output, it looks like you're using a dated version of the image. Can you pull a fresh one and try that real quick?

Also, try dropping the space in your `URL_REPLACE` environment variable

[2017-12-03 20:42] lukasholzer commented on #122
what do you mean @dsifford  with dropping the space?
and how can I get sure that it is a fresh one?

Regards

[2017-12-03 20:48] dsifford commented on #122
Instead of `www.sls-eventservice.ch, localhost:8080`, it should be `www.sls-eventservice.ch,localhost:8080`

Refrain from using the `latest` tag. Instead, it's better to use the actual tag from the latest build.

Currently, the latest tag is: `0.16.0-php7.1`, but that should be changing soon once #121 merges.

[2017-12-03 21:25] lukasholzer commented on #122
[code]

[2017-12-03 23:01] dsifford commented on #122
From this line...

[code]

... it appears that you still have volumes dangling.

Can you try doing the following....

[code]

Sorry for the headache. This will hopefully get us back at baseline.

[2017-12-05 02:19] #119 closed

[2017-12-05 21:26] lukasholzer commented on #122
Does not helped…

[code]

[2017-12-05 21:28] dsifford commented on #122
You need to remove the volume first.

`docker-compose down -v`, and then run those commands

[2017-12-05 21:28] lukasholzer commented on #122
There is the link to the dumped sql file:

[data/u44750db1.sql](https://github.com/lukasholzer/sls-eventservice/blob/feature/docker-environment/data/u44750db1.sql)

[2017-12-05 21:29] lukasholzer commented on #122
I did that before…

[code]

[2017-12-05 21:31] dsifford commented on #122
Do you have a repo somewhere that I can try to build what you have?

[2017-12-05 21:33] lukasholzer commented on #122
for sure:

[repo wiith the branch feature/docker-environment](https://github.com/lukasholzer/sls-eventservice/tree/feature/docker-environment)

[2017-12-05 21:33] lukasholzer commented on #122
I am changing the whole project to docker.

[2017-12-05 21:34] dsifford commented on #122
Repo is private. Can't access

[2017-12-05 21:35] lukasholzer commented on #122
you got an invite as collaborator.

[2017-12-05 21:37] dsifford commented on #122
Great, thanks.

Finishing up some work right now. I'll check it out in a few.

[2017-12-06 02:30] dsifford commented on #122
Sorry for the delay. I see the issue I think. You have a couple small configuration issues in your compose file. I'll PR the adjustments.

[2017-12-06 02:30] #122 closed

[2017-12-08 15:14] lukasholzer commented on #122
thank you your fixes worked great for me!

[2017-12-17 10:06] zulfeekar opened #123 "Deprecation warning - Warning: [local]plugin-name / local]theme-name"
## Deprecation warning.

Hi there, I have the latest version of visiblevc wordress-starter and I still get the deprecated warning.

#Warning: [local]plugin-name has been deprecated and will be dropped in the next version.
#Warning: [local]theme-name has been deprecated and will be dropped in the next version.

- How can I fix this?

thanks again for the wonderful starter kit :-)

![image](https://

[2017-12-17 15:35] dsifford commented on #123
@zulfeekar You're likely using the `latest` tag which is a bit of a misnomer. Unless you manually remove the `latest` image and then re-pull, Docker will use the `latest` version from whenever you initially pulled the image for the first time perpetually.

So, my recommendation to you is to not use `latest` and actually use whatever tag is the latest one. (currently, that's `0.17.0-php7.2`).

If,

[2017-12-17 15:35] #123 closed

[2017-12-17 15:40] dsifford commented on #123
Also, when you do that, delete all instances of `[local]plugin-name` and `[local]theme-name` from your compose file because they will now begin to break your builds

[2017-12-20 07:47] lukasholzer opened #125 "docker-compose up stops always on same line"
When I run `docker-compose up` it always stops on the sime line and freezes there.
Always at: `wordpress_1  | ==> Waiting for MySQL to initialize...`

Everything is on the master branch of [this repo](https://github.com/lukasholzer/sls-eventservice
)
## Overview

- `docker-compose up ` stops always at the same line
- Mac OSX 10.13.1
- Docker version 17.09.1-ce, build 19e2cf6

## `docker-compose.ym

[2017-12-20 17:28] dsifford commented on #125
Why did you add a named network? That's likely the issue. Either remove the `frontend` network everywhere or add it to the db service. Without it added to the db service, the wordpress and db services won't be able to communicate.

[2017-12-20 17:28] #125 closed

[2017-12-28 21:12] zulfeekar commented on #123
Hi, @dsifford thanks. Currently using  visiblevc/wordpress:0.16.0-php7.1 ..and no deprecation warning. Just wondering, keeping 0.16.0-php7.1 will be a problem in the future for continuous deployment?

[2017-12-28 21:56] dsifford commented on #123
Nope, shouldn't be a problem. You're free to stay locked at an older version if you're fine with being locked at an older version of wp-cli on build. The old tags will exist forever in the docker registry.

[2018-01-03 21:37] Balex70 opened #126 "Working with locales"
Hi guys,
Nice work from you!
But I have an issue. I can't figure out how to work with locales. I see broken characters in FE even after locales have been generated. So I have my locale uk_UA.utf-8 but months renders with broken characters!

Can someone help me?
Thanks

[2018-01-03 22:17] dsifford commented on #126
Hi there.

Not sure this project is going to be the best bet for this since we really don't have anything to do with the loading and rendering of i18n strings.

Does this only happen when using this docker service?

A quick check to https://translate.wordpress.org/ is showing that there is not locale named `uk_UA` that exists in wordpress. Could that be the issue? Maybe try setting your locale to

[2018-01-06 14:15] Balex70 commented on #126
Hi,
Thanks for your reply! Yes, I have figured out how to solve that. There were two problems:
1) First of all there were no locales when you start wordpress docker container. It can be easily fixed with this command (sudo docker exec -it <wordpress_docker_container> /bin/bash -c "apt-get update && apt-get install -y locales locales-all") . It will generate all locales. But it would be great if we

[2018-02-06 00:12] dblodorn opened #127 "PhpMyadmin access"
Hi - simple question,
I can't seem to access the phpmyadmin service:

localhost:8080/phpmyadmin

- just returns a 404 in wordpress.

Perhaps a hint towards how to use phpmyadmin in this setup would be great in the documentation.
-- And thanks for this whole setup, its really changed my wp development for the better!

[2018-02-06 04:17] dsifford commented on #127
Glad it's working well for you @dblodorn

Assuming you used [our example](https://github.com/visiblevc/wordpress-starter/tree/master/example) as a starting point, your `docker-compose.yml` file should look something like this....

[code]

If the above assumptions are correct, then the issue you're having is simply the fact that you're trying to access the `phpmyadmin` service from the wrong locati

[2018-02-06 04:17] #127 closed

[2018-02-06 22:56] dblodorn commented on #127
@dsifford Thanks so much for this! So obvious 😬  - haha. Again - this tool is AWESOME!

[2018-02-12 12:56] lukasholzer commented on #107
Hey I have the same problem I changed the PORT in the docker-compose.yml and when I go to the port I get redirected to the old one…

[2018-02-13 10:03] lukasholzer opened #128 "Unpredictable Redirects"
Hey I have the problem, that when I change the port form **8080** to **9000** everything works as fine – till to the moment when I open the browser and want to visit the url: `http://localhost:9000`
Then I get redirected to `http://localhost:8080` and no page is loaded.

But when I visit: `http://localhost:9000/wp-admin` i can log into wordpress and edit everything…
The problem is that the pages c

[2018-02-13 18:59] dsifford commented on #107
The reason for that is because the values of `siteurl` and `wphome` are still likely set at the old ports. just change those.

[2018-02-13 19:01] dsifford commented on #128
Either rebuild from scratch (e.g. `docker-compose down -v && docker-compose up -d`), or make sure you also go in and change the values of `homeurl` and `siteurl` in the options table.

This is by design of WordPress. Not a bug.

[2018-02-13 19:01] #128 closed

[2018-02-14 07:52] lukasholzer commented on #128
@dsifford Thx for your reply but they are changed to localhost:9000 – so when I go to the wordpress admin under general seetings: `wp-admin/options-general.php`.

The **WordPress Address (URL)** and the **Site Address (URL)** are both on `http://localhost:9000/`

[2018-02-14 08:25] lukasholzer commented on #128
in the sql file they are with port **9000** as well:

##### database.sql
[code]

[2018-02-14 09:47] lukasholzer commented on #128
sorry I figured it out – It was a browser caching problem – the redirect was cached -.-

Thx for help!

[2018-02-27 11:07] zagreusinoz opened #129 "Wrong URL from plugin"
## Overview

I'm mounting plugins that I'm developing as the documentation says and in my plugin I'm trying to get the url of some scripts like this:
```$path = dirname(plugin_dir_url( __FILE__ )) . '/scripts/';```

However this returns the URL:
```http://localhost:8080/app/wp-content/plugins/customer-manager/scripts/js/script.js?ver=5.6.8```

whereas the actual URL should be:
```http://localhost:

[2018-02-27 18:52] dsifford commented on #129
@zagreusinoz I think the issue is with your function, not the docker setup.

You should be doing just `plugin_dir_url(__FILE__)` instead of wrapping that in a `dirname()` call.

[2018-03-10 13:08] zagreusinoz commented on #129
All that dirname should be doing is to go up a level in the path though I thought.  It shouldn't add anything additional to the path itself.

[2018-04-14 20:58] #113 closed

[2018-04-14 20:58] #114 closed

[2018-04-22 15:46] pramodskumbhar opened #132 "Issue during wordpress installation"
Hello,

I am following instructions and doing following:

[code]

and this is giving following error:

[code]

If I use `v0.18.0` then everything works fine. Is this regression?
(p.s. relatively new to wordpress)

[2018-04-22 16:57] dsifford commented on #132
@pramodskumbhar What is the OS of your host? What is your docker and docker-compose version?

Also, was docker installed with non-sudo priveledeges as outlined by the [docker install guide](https://docs.docker.com/install/linux/linux-postinstall/)?

I'm able to run the example image without issues.

Thanks for the clarification.

[2018-04-26 12:07] b0rt opened #133 "missing commas in example/docker-compose.yml PLUGINS section"
## Overview

- What's your problem about?
starting example docker-compose.yml with `docker-compose up -d && docker-compose logs -f` yields an error

- What is your operating system?
win10x64
- What is your docker version?

[code]

## `docker-compose.yml`

same as example/docker-compose.yml (fresh clone) [this revision](https://github.com/visiblevc/wordpress-starter/blob/7227bc5b9db3bb6730fc939dc97

[2018-04-26 12:11] b0rt commented on #133
Ah, sorry, had an old image `docker-compose pull` fixed it, obviusliy
my mistage, kind regards

[2018-04-26 12:11] #133 closed

[2018-05-01 12:49] urbantrout opened #134 "Update README and example to reflect changes for URL_REPLACE"
## Overview

- `URL_REPLACE` with `BEFORE_URL` and `AFTER_URL` seems to depracted.
- Only `AFTER_URL` is needed now.
- README and docker-compose.yml file do not reflect these changes

[2018-05-01 15:32] #134 closed

[2018-05-20 17:44] tylergannon commented on #132
Hi!  Thanks for the awesome software, and I'll be very excited to have this up and driving the whole build process for a team I'm working with rn.

Sorry to necrobump this one, but I'm somewhat relieved to see that this isn't a unique concern.  My app runs fine on Docker ce for macOS.  (I'm also posting on stackoverflow...)

I did follow the docker install guide and added my user account to the `d

[2018-05-20 20:27] tylergannon commented on #132
Changing from Ubuntu to Amazon Linux 2.rc resolved it.  I'm happy enough with that answer 😄

[2018-05-22 16:42] dsifford commented on #132
Closing since this is being handled in #138

[2018-05-22 16:42] #132 closed

[2018-06-10 04:25] arnorhs opened #140 "issue with docker-compose printing log and not exiting"
## Overview

Sorry, I'm just dipping my toes into docker, so this might very well be a non-issue and "as designed"

I'm trying to run the example project (i moved it to a different directory), and it seems to successfully run, however, the output ends but i don't get returned to the prompt, as if something didn't finish running. But I can visit the wordpress site in my browser, however and the com

[2018-06-10 11:10] signaleleven commented on #140
You guessed it, it's not a bug.
Add -d to the command line to have it go in background.
You inspect then the logs with 'docker-compose logs'

Please check the docker-compose documentation.

[2018-06-28 12:20] MariusStuparu opened #141 "Dumping the development db gives error: No such file or directory"
Hello,

I have adapted (mostly, blatantly copied) the main files inside my project, and everything works fine (WP is up and running). But I get an error when trying to create a db dump:

`docker-compose exec wordpress /bin/bash 'wp db export /data --allow-root'`

gives this error:

`bin/bash: wp db export /data/ --allow-root: No such file or directory`

I have the `/[my-project]/data/` folder, and

[2018-06-28 14:12] dsifford commented on #141
Try adjusting your command to this and let me know if that works...

[code]

[2018-06-28 14:41] MariusStuparu commented on #141
It was actually `docker-compose exec wordpress /bin/bash -c 'wp db export /data/mysqldump.sql --allow-root'` (the filename is needed). But it works now, thanks.

[2018-06-28 15:05] #141 closed

[2018-06-28 15:06] dsifford commented on #141
Great. Glad you got it sorted out.

Of note, you shouldn't need `allow-root` with the lastest image unless explicitly running sudo.

[2018-07-05 09:27] jmatsushita opened #142 "Require SYS_ADMIN only in DEV context not PROD."
Hi there,

Thanks a lot for the articles and this repo! I wanted to share that I've been hesitant to upgrade to `0.19.0` because I'm using this container in kubernetes but the required `SYS_ADMIN` cap is great for development, but not something I want to enable in k8s.

Let me know if this doesn't make sense!

Jun

[2018-07-05 09:38] jmatsushita opened #143 "Download plugins/themes at build time."
Hi there,

In order to diminish initial startup time in a development environment, I've been finding myself wanting to include the download of plugins (haven't needed themes but maybe there would be a similar need) at container build time. This has led me to this issue https://github.com/wp-cli/wp-cli/issues/2189 which seems stalled, but was looking at the possibility to have a `wp` command to dow

[2018-07-05 19:59] dsifford commented on #143
Hi there,

we already have a caching mechanism set up for both plugins and themes. You can see that [here](https://github.com/visiblevc/wordpress-starter/blob/master/run.sh#L268). Is this not working as intended?

I should note, this mechanism will never work if you are using `docker compose down` in any form. You must use `docker compose stop`.

[2018-07-05 20:02] dsifford commented on #142
You're welcome to fork this at version 0.18 and continue using from there.

The reason why we now require the new caps is because we're mounting the webroot using a bindfs mount. This has several useful implications that you can find described in greater detail [here](https://github.com/visiblevc/wordpress-starter/pull/136).

I'm not interested in reverting back because the benefits gained by usin

[2018-07-06 09:31] jmatsushita commented on #143
Sorry I think caching is probably not the right term. I meant that the plugins would be downloaded at build time, so that at run time only missing plugins would be downloaded.

I've implemented this by creating a `setup.sh` file with the same `init()` and Environment than `run.sh` but whose `main()` runs `install_plugins` which is implemented like this:
[code]

This is then ran as the last `RUN` c

[2018-07-06 09:42] jmatsushita commented on #142
Hi again,

Sorry I didn't mean to suggest reverting. What I've done in my dockerfile is the following:
[code]

You might not need the ONBUILD (which I use to configure dependent images). This takes a build arg `PROD` which is set to `false` in the docker-compose file. This means that anyone using docker-compose to manage their container will have the `bindfs` feature, but when the container is bui

[2018-07-06 16:22] dsifford commented on #143
This is what currently happens. Is this not happening for you?

[2018-07-06 16:24] dsifford commented on #143
If you're referring to putting plugin and wordpress setup INTO the build of the actual image outside of the `run.sh` script, that is not something we are going to support because it will require people to build their own dockerfiles and will prevent them from pulling from the docker registry.

[2018-07-06 16:25] dsifford commented on #143
I'm closing this as wontfix because what you're suggesting is fundamentally infeasible for this project.

[2018-07-06 16:25] #143 closed

[2018-07-06 16:30] dsifford commented on #142
Can you expand on this?

Also, having the conditional in the Dockerfile is not going to be possible because it will require everyone who uses this project to build from source, which I think most are not doing currently.

[2018-07-06 16:35] #140 closed

[2018-07-26 02:30] PabloDinella commented on #141
I think README should be updated :)

[2018-07-26 03:00] dsifford commented on #141
PRs accepted

[2018-08-03 12:31] swashata opened #146 "Adding XDebug & MailCatcher support"
Hi,

First of all thank you very much for this project. It has enabled me to use docker instead of `vvv` for developing WordPress Plugins and Themes.

There were two things I missed the most when making transition

1. XDebug Remote debugging (yes it works great with VSCode).
2. MailCatcher for debugging and testing emails.

I have managed to add both to this awesome container and I am willing to s

[2018-08-03 12:33] swashata commented on #146
PS: The trick to add xdebug remote support was to set `xdebug.remote_host=host.docker.internal` as described [here](https://github.com/docker/for-linux/issues/264#issuecomment-410048049).

Installing and configuring mailcatcher was straight forward, `gem install mailcatcher` and then copying over a `conf` file.

[2018-08-03 15:22] dsifford commented on #146
Hi @swashata,

Thanks for the kind words. Glad to hear the project has served you well.

As @karellm I think will attest, our primary focus with this project is keeping the WordPress service as lean and focused on just WordPress as possible (with the singular exception being having a mechanism for SSL cert automation baked into the image).

I do agree that both XDebug and MailCatcher are attractiv

[2018-08-03 15:37] swashata commented on #146
Hi,

Thanks for the quick response. I've totally taken the wrong route for the MailCatcher. I am fairly new to docker, and honestly I had no idea that I could do that. Thanks for the tip 😄

About XDebug, it actually only makes sense to install on development environment. I have seen the PR before (in fact I made it my starting point), but I guess with the availability of `host.docker.internal` it

[2018-08-03 22:39] karellm commented on #146
I agree that XDebug shouldn't be forced into the image. That said we could make a dev image or have a `dev` tag.

[2018-12-17 08:33] martintburgess opened #151 "mysql:5.7 hangs on waiting for MySQL to initialize"
## Overview
Thanks for a great repo.
I am trying to run /example/docker-compose.yml using mysql:5.7 instead of mariadb:10
This is the only change to the docker-compose.yml.
Installation doesn't get passed "Waiting for MySQL to initialize...".

Issue does not occur with mariadb:10

mac os x 10.14.2
docker version 18.09.0

## `docker-compose.yml`

[code]

## Project structure
same as /example

## `d

[2018-12-18 02:01] dsifford commented on #151
@martintburgess Can you explain further what the issue is you're having. The output I'm seeing looks correct.

[2018-12-18 02:04] martintburgess commented on #151
@dsifford the installation doesn't get past this point. Waited considerable time (15 minutes or more) and was stuck there.

[2018-12-18 02:19] dsifford commented on #151
Ah... ok got it. Not sure why, but I will confess that I generally always use MariaDB... I'll check into this tomorrow.

[2018-12-18 02:39] dsifford commented on #151
No worries. I appreciate you reaching out. They _should_ in theory both be backwards compatible with each other so it's a bit strange that this would occur.

[2018-12-20 02:50] dsifford commented on #151
Finally got around to trying this and I can't reproduce. Is this still giving you trouble @martintburgess?

[2018-12-20 06:21] martintburgess commented on #151
@dsifford Just tried removing all my containers and images as well as recloning the wordpress-starter repo - still doesn't get past `==> Waiting for MySQL to initialize...`. I'm happy to use a mariadb, so it's no trouble for me.

[2018-12-20 16:46] dsifford commented on #151
Hm... very odd. Perhaps it has something to do with the machine you're on?

I'll leave this issue open for now until we can get another person who runs into this to chime in.

[2019-04-09 10:45] BobbyBabes opened #152 "Contradicting docker-compose.yml examples."
## Overview

- What's your problem about?
Contradicting ```docker-compose.yml``` displayed on Quickstart page, and in ```example``` folder download. Which one is the current example?
- What is your operating system?
N/A
- What is your docker version? `docker version`
N/A

## `docker-compose.yml`
In the folder named ```example``` downloaded from the [Quickstart page](https://github.com/visiblevc/wo

[2019-04-09 16:16] dsifford commented on #152
The file example in README.md is outdated. The actual file in the examples directory is correct.

You're welcome to PR a fix for this if you'd like.

[2019-04-16 05:36] keskistok opened #153 "Working with local hostnames"
This is not really an issue. It's more of a general question. Im trying to figure out how to work with local hostnames when using this setup.

I have tried adding the IP address of the running wordpress container to my /etc/hosts file, but when trying to access the attached hostname I don't get any response.

Do you have any suggestions?

[2019-04-16 09:10] signaleleven commented on #153
If you are using something similar to the example docker-compose, the container ports are exposed on the host.
You can put 127.0.0.1 in /etc/hosts, not the container IP, to test with hostnames.

[2019-05-31 09:38] danielhq opened #155 "Integrate into an exsisting project"
Hello, thanks for this project, I'm trying to integrate it in my team workflow, i wanted to provide a development server in each of our project repository, so any team member can docker-compose up in the repo and have a server up and running.

I've successfully tried your example and it works, and i can point it in one of my project directory, but as soon as i try to port all the necessary files,

[2019-05-31 22:32] dsifford commented on #155
Looks like your volume mappings are incorrect. Specifically, it looks like you're missing `mysite.com`  (instead of `wp-content/themes` it should be `mysite.com/wp-content/themes`.

Also, you don't need to copy the dockerfile and run.sh file into your project. Docker compose pulls that in the image from dockerhub.

[2019-06-03 08:57] danielhq commented on #155
Thanks a lot it works now.

[2019-06-03 08:57] #155 closed

[2019-06-05 23:31] RichardWright opened #156 "Cookie nonce is invalid when posting/creating pages"
## Overview

- What's your problem about? Posting/Creating Pages - Currrently when trying to create pages/posts using the example docker compose I get the following http errors in the console

Failed to load resource:
the server responded with a status of 403 (Forbidden)
url  - http://localhost:8080/wp-json/wp/v2/pages/12?_locale=use
response body - [{"code":"json_cookie_invalid_nonce","message":"

[2019-06-06 01:38] dsifford commented on #156
This looks like an issue with the way you're calling the API.. did you provide a nonce? If using `@wordpress/api-fetch`, you still have to use the nonce middleware if your request requires a nonce.

[2019-06-06 08:51] RichardWright commented on #156
This is out of the box. Totally standard.

I disabled the two plugins, updated the wp api one and it worked.

Sigh.

[2019-06-06 08:54] RichardWright commented on #156
@dsifford btw thanks for this repo. It's fantastic work and I just wanted to acknowledge how much time you've saved me.

Too bad it's weird plugin model is still messing it up :(

[2019-06-06 12:26] dsifford commented on #156
Which plugin is this issue showing up in? How can I reproduce?

[2019-06-06 15:36] RichardWright commented on #156
It's not the plugin itself, it's just basic usage. Eg editing a page, editing a post. You can create but not save. Any of the ajax commands don't work. This is out of the box.

The plugins which disabling made it work -
academic-bloggers-toolkit
co-authors-plus

Plus upgrading wp-api

[2019-06-06 15:46] dsifford commented on #156
There must be an issue somewhere in your configuration because I've been using this personally on dozens of sites of all shapes and sizes and have never had that issue.

[2019-06-06 15:48] dsifford commented on #156
Also, you don't have to use ABT and coauthors-plus... Those are just examples of how to add plugins in your configuration.

[2019-06-11 09:37] RichardWright commented on #156
This is fresh out of github hence I opened the issue.

Isn't wp-api needed for ajax interactions? If that isn't enabled the site doesn't work surely? What's the alernative for that?

[2019-06-11 12:30] dsifford commented on #156
wp-api has been included in WordPress core for some time now. IIRC around ~2 years

[2019-06-11 12:33] RichardWright commented on #156
Oh odd. When disabled it. post editing failed with 404's. I was trying to work out why something so important was a plugin.

I'm no wordpress expert, if the functionality in the plugin is core, could it be removed from the template?

[2019-06-11 12:48] dsifford commented on #156
The example page is meant to be read through and understood, not copy and pasted. It serves as a quick example of what a configuration might look like, covering several less common scenarios (e.g. all the ways you can specify plugin dependencies).

I'll leave the final judgement call on that to @karellm, but my choice would be to leave it as-is.

[2019-06-11 13:14] RichardWright commented on #156
When I pull a project it should

1) Build
2) Function without modification once run
3) Use up to date dependencies
4) Use appropriate dependencies

I don't think these are unreasonable things to assume and would contribute to the usability of this project(which is very useful!). If wp-api is core, then it shouldn't be included. It's just confusing. As for the other two, the issues with those might

[2019-06-12 10:18] amitrahav opened #157 "fpm logs"
## Overview
Is there a way to watch fpm logs local?
docker logs showing only proxy logs at the moment.

[2019-06-12 16:26] dsifford commented on #157
We don't have an FPM image so that's likely why FPM logs aren't showing up.

[2019-06-12 19:48] amitrahav commented on #157
Php must run with fpm for wp.

בתאריך יום ד׳, 12 ביוני 2019 ב-19:26 מאת Derek Sifford <
notifications@github.com>:

--

*עמית רהב* *//* מחוז צפון

*נייד:* 054-9732632 *פקס: *153-549732639 *מייל:* amit.r.89@gmail.com

*אתר:* noal.org.il <http://www.noal.org.il/> *פייסבוק:* @noal4u
<https://www.facebook.com/noal4u/>

[image: חתימה דקה יותר מוקטן] <http://www.noal.org.il/>

[2019-06-12 19:53] dsifford commented on #157
That's not true. You can see this just by looking at the official WordPress images on Dockerhub: https://hub.docker.com/_/wordpress/

[2019-06-25 15:50] amitrahav commented on #157
solve it by those steps:
1. adding logs.ini to root folder:
[code]

[2019-06-25 15:50] #157 closed

[2019-06-25 15:58] dsifford commented on #157
See also:

The environment variables `WP_DEBUG`, `WP_DEBUG_DISPLAY`, and `WP_DEBUG_LOG` listed in the [README](https://github.com/visiblevc/wordpress-starter#wordpress).

Setting `WP_DEBUG_LOG` to `/logs.ini` likely does what you're describing. But this is **not** PHP-FPM logs.

Additionally, if you add `ini_set('error_reporting', E_ALL );` to `EXTRA_PHP`, this will enable all errors to be reporte

[2019-06-26 14:27] keskistok opened #158 "Theme from volumes deleted"
[code]

[2019-06-26 15:27] dsifford commented on #158
Hard to tell without the full `docker-compose.yml`. Can you try maybe not having your theme named with a slash?

[2019-06-26 15:38] keskistok commented on #158
Here is the full composer:

[code]
Im not really sure why the theme name ends up like that, but I guess its because of the specific file structure used by the sage theme.

https://github.com/roots/sage/blob/master/resources/style.css

[2019-08-15 14:38] pdmwu opened #159 "Link is dead"
Extra PHP code to add to wp-config.php. Click here for more information.

The link behind "here" is dead.

[2019-08-15 22:30] #159 closed

[2019-08-23 07:39] markhbucknell commented on #156
@RichardWright Im in the same boat. Did you end up working it out?

[2019-10-20 11:52] farshidhss opened #160 "Max upload file size of 2mb!"
The first thing I do in wordpress is to upload a file but this image only has maximum file size upload for wordpress set to 2mb! Do I need to mount the config to fix it?

[2019-10-21 07:58] signaleleven commented on #160
I appreciate that you edited the test to be less snarky :D
I mount a custom `php.ini` config to override that setting. An alternative would be to build an image based on wordpress-starter with the changes you need in php.ini

[2019-10-21 08:30] farshidhss commented on #160
It is certainly better to be less snarky :D
I will mount the php.ini then, as I don't feel comfortable to touch the docker file. Would be nice if you give some explanation on what the docker file is doing on a high level.

[2019-10-21 15:14] dsifford commented on #160
Checked into it and it looks like WPEngine and a couple other popular WordPress providers use a default of 50mb for max upload size. So I'll consider bumping it to that. If that sounds acceptable.

Agree that 2mb is not quite enough, but I haven't personally needed it.

[2019-10-21 15:18] farshidhss commented on #160
It would help a lot if this already included a large max file upload size. My workflow is that I often setup a fresh Wordpress and then use wp-migration to import a large existing Wordpress into the local setup. This makes it very easy to make quick improvements without actually messing with a live website.

[2019-10-21 15:28] dsifford commented on #160
If that's the case, why not just use wp-cli as described in the readme?

You can import a mysql dump or a WXR file, which would arguably be easier than doing it using the frontend interface because it could be automated on build.

[2019-10-21 15:31] farshidhss commented on #160
With wp-migration I can import database, templates, and all uploaded files at the same time. It is very smooth process and takes just a few seconds to get the entire website ready to go. I have never seen another simpler method. This takes basically one click to download the exported file and then one click to import everything and it always worked for all websites that I worked on.

[2019-10-21 15:47] dsifford commented on #160
I should also note that by default, if you have a database export mounted into `/data/*.sql`, it'll automatically get imported on build using our orchestration we set up.

[2019-10-26 09:56] farshidhss commented on #160
I don't think wp-migration plugin is creating a WRX format and hence not importable. I even tried to import it using the instructions in the readme and it failed. I see that the command in your instruction is wrong:
npm run wp db import /data/database.sql

This won't work even if I just wanted to import a sql database because it would not be able to find the file. I tried it already.

Even if all

[2019-10-26 14:33] dsifford commented on #160
If this is what the readme says, it's incorrect.. It needs to be...

[code]

It does, I can assure you that.

Adding a [`URL_REPLACE`](https://github.com/visiblevc/wordpress-starter#wordpress) env variable literally does exactly that.

Because if you add that single line to the `docker-compose.yml` file, and follow the rest of the instructions, the import process is 100% fully automated and you do

[2019-10-26 14:36] farshidhss commented on #160
![image](https://user-images.githubusercontent.com/4727688/67621217-a00dcb80-f80e-11e9-92f2-e5f6af9b7803.png)
This is the screenshot of your readme. I simply followed what it says.

[2019-10-27 03:17] geeksupport1 opened #161 "Volume mapping for wordpress /app"
Thanks for sharing this.

PLEASE READ THIS BEFORE POSTING AN ISSUE!

This is a template to make sure you provide us with all the information we will be to help you out. Please take the time to fill detailed issues, it will be faster for us to provide solutions! In the following sections, you should replace the content with your own. The content that is there is just presented as an example.

## Ov

[2019-10-27 14:25] dsifford commented on #161
Having trouble understanding exactly what the issue you're having with this project is, but...

`wp-content` isn't supposed to be volumed. That's the point of this setup. It keeps the builds ephemeral. The only thing you should volume are things that need to survive teardowns.. So, generally, speaking...
- `wp-content/uploads` (optionally)
- `wp-content/themes/<the-theme-you're-developing>` (optio

[2019-11-04 11:07] yanickvanbarneveld opened #163 "Installing XDebug and Mailhog"
## Overview

### What's your problem about?
I am trying to enable XDebug and Mailhog in the visiblevc/wordpress image by extending the Dockerfile. I don't get it to work, when I build I get the following error:

[code]

Did someone else manage to achieve this?

## `docker-compose.yml & Dockerfile`

[code]

[code]

[2019-11-05 00:10] dsifford commented on #163
Hey @yanickvanbarneveld.

Yeah, as it stands, the Dockerfile for this project isn't really extendable because of the use of the defined `ENTRYPOINT`.

I do see that there is a case to be made to change that however, so when I go to update for WP 5.3 (which is slated to release Nov 12), I'll make the adjustment to make this more extensible. That should cover for the XDebug portion of this issue...

[2019-11-05 00:11] dsifford commented on #163
This may or may not be helpful: https://github.com/mailhog/MailHog/wiki

[2019-11-13 23:43] dsifford commented on #163
Hey @yanickvanbarneveld, digging into this now and I was mistaken.. we don't define the entrypoint at all. We define the `CMD` which is how it should be..

You should be able to fix your issue with extending our Dockerfile by simply adding `CMD ["/run.sh"]` at the end of your Dockerfile.

Let me know if that doesn't work and I'll reopen.

[2019-11-13 23:43] #163 closed

[2019-11-13 23:44] #161 closed

[2019-11-13 23:55] #156 closed

[2019-11-13 23:59] #153 closed

[2019-11-15 18:58] #152 closed

[2019-11-15 18:58] #160 closed

[2019-11-27 11:01] yanickvanbarneveld opened #166 "MarioDB "aborted connection""
Hi there,

When starting a project with MariaDB and the VisibleVC, WordPress is stuck on "Waiting to initialize MySQL".

I think it is because MariaDB won't start up, the error I am getting over here is:
`2019-11-27 10:59:06 121 [Warning] Aborted connection 121 to db: 'unconnected' user: 'unauthenticated' host: '172.19.0.2' (This connection closed normally without authentication)`

My Docker-compo

[2019-11-27 12:13] dsifford commented on #166
What version of the image are you using?

[2019-11-27 12:14] yanickvanbarneveld commented on #166
@dsifford What version do you mean? I just downloaded the latest image of both (VisibleVC and MariaDB).

[2019-11-27 12:16] dsifford commented on #166
In your compose file you have the image listed as `visiblevc/wordpress:latest` which is ambiguous and could be any of the previously pushed tags, depending on how long ago you pulled the image from dockerhub.

[2019-11-27 12:26] yanickvanbarneveld commented on #166
`
visiblevc/wordpress latest              sha256:6efd75df6d0233ac1054855159a37b9a88d963362d8e919eb2e18fa91961c444 b4b8f8bb9e95 6 months ago 799MB
`

`
mariadb                         10                  sha256:3ce0da3d4d794f9b3692627c9b97b1f22d8c680ddde9bd17839d134b3ab30b07   2ef19234ff46        3 weeks ago         356MB
`

Can you do anything with above?

[2019-11-27 12:31] dsifford commented on #166
If you'd like to continue using the `latest` tag, that's fine but you'd need to do a `docker pull visiblevc/wordpress` to get the actual latest image that I pushed out last week.

I'd recommend using a specific tag number though to avoid the ambiguity.

Try pulling the latest image down and let me know if that works or not.

[2019-11-27 12:49] yanickvanbarneveld commented on #166
@dsifford Ah, didn't know that, that's why I have a different version than my colleagues. So it is better to use something like:

`image: visiblevc/wordpress:sha256-59a303ad4fdeb24319be96726691a3cce8511ac964dec0fa4b0d0a2d67dd2010`

[2019-11-27 12:51] dsifford commented on #166
Here's the available formats: https://github.com/visiblevc/wordpress-starter#available-images

I personally use `<version>-php7.3`. So right now, it's `0.25.0-php7.3`

[2019-12-11 00:44] abeardsley-vertex opened #168 "URL_REPLACE not working"
## Overview

I am migrating development from vvv to this.  But when running `docker compose up` on a first run, the `URL_REPLACE` function does not seem to work. Is it in the wrong place in my `docker-compose.yml`?

If I log into the docker container itself I can run ` wp search-replace ` and it will work fine.

There is a database file that is restored as part of the first run (this is obvious I

[2019-12-11 00:56] dsifford commented on #168
This is strange for a number of reasons.

I'm also seeing near the bottom of your logs you're getting an error with one of your init scripts...

[code]

That's extremely irregular. `/usr/bin/env` is most certainly available in the image.

----

But anyway, to address your comments...

Nope, it's in the correct order. See below...

https://github.com/visiblevc/wordpress-starter/blob/0b45d216f8e3fd5

[2019-12-11 16:04] abeardsley-vertex commented on #168
Confession time...I was editing the wrong docker-compose when trying to get url_replace to work.

However, in my troubleshooting I did find where the `wordpress_1   | /usr/bin/env: 'bash\r': No such file or directory` error was coming from.

Commenting out `- ./scripts:/docker-entrypoint-initwp.d` solved that one.  I suppose it is because `docker-entrypoint-initwp.d` does not exist?  I had that in

[2019-12-11 16:08] dsifford commented on #168
No worries. Glad to hear you got it sorted out!

[2019-12-11 16:08] #168 closed

[2019-12-11 20:12] firstdivision opened #169 "Localhost over https?"
I there a built-in way to get localhost delivered with a self-signed certificate / https?  Or a way to automate that as part of setup?

I saw this part of the example docker-compose.yml and had hoped it was "built-in", but unless I'm missing something it does not appear to be?

[code]

I also saw the docs about using certbot, but that will only work on a production / real domain, right?

[2019-12-18 14:50] yanickvanbarneveld commented on #163
Hi @dsifford, sorry for my late reaction. I am not sure though. I changed my Dockerfile to the following:

`FROM visiblevc/wordpress:0.25.0-php7.3
CMD ["/run.sh"]`

And added the following code in run.sh within the same directory:

`echo 'Installing MailHog'
curl --location --output /usr/local/bin/mhsendmail https://github.com/mailhog/mhsendmail/releases/download/v0.2.0/mhsendmail_linux_amd64 && \

[2020-01-26 16:39] jiverson commented on #151
Probably just need to change the port to mysql in the db section.

[code]

[2020-02-07 11:33] simplenotezy opened #173 "Where can I find the /wp-content/ folder?"
I'd like to know where my /wp-content/ folder is? I'd like to drag some files and folders over..

[2020-02-07 12:36] dsifford commented on #173
wp-content is located in the `WORKDIR` of the image, which is `/app/wp-content`

[2020-02-07 12:36] #173 closed

[2020-02-07 12:58] simplenotezy opened #174 "How to prevent files + database from being purged?"
As it seems from the looks of the issues, themes/plugins/files (and perhaps also database?) get's purges on up/down.

How can I disable this? I'd like to keep my files and database intact, even after a reboot or up/down.

[2020-02-07 12:59] dsifford commented on #174
Use `docker-compose stop` and not `docker-compose down`.

[2020-02-07 14:04] simplenotezy commented on #151
I have the same error. Seems not to be related to ports. The error:

    InnoDB: Unsupported redo log format. The redo log was created with MariaDB 10.4.12. Please follow the instructions at http://dev.mysql.com/doc/refman/5.7/en/upgrading-downgrading.html

Heres the output:

	[constantsolutions:...rs/website/example]$ docker-compose up -d && docker-compose logs -f db

	Starting example_db_1

[2020-02-07 14:13] simplenotezy commented on #174
Thanks. I also noticed the https://visible.vc/engineering/docker-environment-for-wordpress/ which seems like a good solution

[2020-02-07 14:13] #174 closed

[2020-02-07 14:13] simplenotezy opened #175 "How to access database without phpmyadmin?"
How can I access the database using software like Sequel Pro?

[2020-02-07 14:45] dsifford commented on #175
These questions might be better suited on stackoverflow since it's not specific to this project.

Short answer: yes, you can access it with whatever you want. Just point it to the IP address of the mysql container.

[2020-02-07 14:45] #175 closed

[2020-02-12 23:16] DowlingIT opened #176 "Plugins with [key]http://somesite/somefile.zip don't work"
## Overview

- What's your problem about? Plugins with [key]http://somesite/somefile.zip will not install.  I tried your example docker-compose file, with no changes at all (and verified that the zip file you point at actually does exist)

- What is your operating system?
Ubuntu 18.04.3 LTS

- What is your docker version? `docker version`
18.09.7, build 2d0083d

## `docker-compose.yml`
[code]

##

[2020-02-12 23:47] dsifford commented on #176
Hi @DowlingIT -- This is strange that you're not having luck with the url form. I use this environment on a daily basis for work and I just used the url form today and had no issues.

Are you certain that you have the latest version of the image?

[2020-02-12 23:47] dsifford commented on #176
Also -- are you on windows? It may be CRLF endings that screws this up.

[2020-02-12 23:52] DowlingIT commented on #176
I’m using the :latest tag in my own stuff.  And did the git clone today to test out the example you had at github.  I’m on Ubuntu 18 LTS

Thanks

From: Derek Sifford <notifications@github.com>
Sent: Wednesday, February 12, 2020 6:48 PM
To: visiblevc/wordpress-starter <wordpress-starter@noreply.github.com>
Cc: Jeremy Dowling <jdowling@dowlingit.com>; Mention <mention@noreply.github.com>
Subject: Re

[2020-02-12 23:56] dsifford commented on #176
Can you give it a shot with `0.25.3-php7.4` (or whatever php version you need) instead and let me know what happens?

[2020-02-13 00:23] DowlingIT commented on #176
Sure.  I did a docker-compose rm -f in between as well, to clear out cached container images

After checking the git repo out to that commit, I ran docker-compose up in the example folder.  Got:

wordpress_1   |          Downloading WordPress 5.3.2 (en_US)...
wordpress_1   |          md5 hash verified: 380d41ad22c97bd4fc08b19a4eb97403
wordpress_1   | Success: WordPress downloaded.
wordpress_1   |

[2020-02-13 01:05] dsifford commented on #176
Ok wow, what a weird bug this was...

Turns out, this is related to nullglob.

Good catch. I'll fix this soon.

[2020-02-13 01:40] #176 closed

[2020-03-01 08:29] dika-pro commented on #68
What about https://buddy.works/wordpress?

[2020-04-09 20:20] Bibi40k opened #177 "caching"
Hi,
this is not an issue, i appreciate how fast is WP with your configuration and i wonder what caching system / settings / plugins do you guys use.

Thanks!

[2020-10-08 11:02] JuicyLung91 opened #178 "Can not import my sql file"
## What's your problem about?

I cannot import my SQL dump. Neither during the installation nor manually afterwards.

When I try to import the SQL file manually with: `docker-compose exec wordpress /bin/bash "wp db import $(find /data/*.sql | head -n 1) --allow-ro
ot"` I get the following error:

`
find: ‘/data/*.sql’: No such file or directory
OCI runtime exec failed: exec failed: container_linux

[2020-11-05 12:23] EvanShaw opened #179 "loopback requests fail when 'site_url' points to localhost:xxxx"
First of all, thank you for this great repo! I use the images everyday for local development.

- OS: Ubuntu Linux 18.04
- `docker version`: 19.03.13

### Overview
In a local environment, where an arbitrary port is forwarded to the host machine (eg. `-p 9000:80`), requests to `site_url`, `home_url`, etc. that are invoked from within the container via `wp_remote_post`, `cURL`, etc. do not work since

[2020-11-09 14:40] dsifford commented on #179
Seems like a legitimate concern. Feel free to open a PR.

[2020-11-11 04:47] EvanShaw commented on #179
@dsifford

The best solution would be to get a list of exposed ports dynamically from dockers REST API, or some such thing. This would alleviate the need for the user to explicitly define an environment variable with the value of the exposed port. Unfortunately, after snooping around a little bit, it doesn't seem like that's possible... at least according to [this thread](https://github.com/moby/m

[2020-11-23 14:09] dsifford commented on #179
Happy to entertain any ideas you might have, but agree that the fix you call out does sound like it's just fixing one bug but introducing another.

[2021-01-05 00:21] claudiorivera commented on #151
Thanks for the great repo! Got spun up with MariaDB without issues.

Unfortunately, I'm also having trouble using MySQL instead of MariaDB. From a fresh clone, I replaced `mariadb:10` with `mysql:5.7`, and the console logs get to `Waiting for MySQL to initialize...` and nothing outputs beyond that.

Here's the logs for the `db` container (which exited, while the `wordpress` and `phpmyadmin` contai

[2021-02-03 04:51] jeferandom commented on #122
:( I wanted to see the solution.

[2021-04-08 13:13] rytmis opened #180 "Multisite configuration does not work across restarts"
## Overview

- I have MULTISITE: 'true' defined in my docker-compose.yml. On the first start, multisite is enabled correctly. On subsequent starts I get a "The network already exists" message in the output, but wp-config.php is generated without the multisite constants, so WordPress admin tells me multisite support is not enabled.
- Windows 10 20H2 (OS Build 19042.867)
- Docker version 20.10.5
- W

[2021-05-22 14:49] AlecRust opened #181 "Database created before dump import"
## Overview

- **What's your problem about?**
  Starting wordpress-starter from an existing database dump, a database is created before the dump starts, causing errors in the import and quite a broken end result.
- **What is your operating system?**
  macOS 11.3.1
- **What is your docker version? `docker version`**
  20.10.6

## `docker-compose.yml`

[code]

## Project structure

[code]

## `docke

[2021-05-24 19:11] dsifford commented on #181
@AlecRust How are you exporting your database?

If it's not exported with `wp db export` then you might have issues with the resultant sql file.

[2021-05-24 22:08] AlecRust commented on #181
Thanks for your reply @dsifford.

The production site is hosted on EC2 via Bitnami, I've tried a couple ways to export the dump:
1. SSH in, run `mysqldump -u root -p bitnami_wordpress > backup.sql` then download the file ([docs](https://docs.bitnami.com/bch/apps/wordpress/administration/backup-restore-mysql-mariadb/))
2. SSH to create tunnel and access phpMyAdmin. Then export dump file via the UI

[2021-05-25 21:26] AlecRust commented on #181
It also fails when importing a dump created via WP-CLI:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

`wp-login.php` won't load with this dump. This error seems to be the most prevalent:

[code]

[2021-05-25 22:06] dsifford commented on #181
Can you try MariaDB and see if there's a difference? Just curious.

[2021-05-26 15:51] AlecRust commented on #181
Sadly same errors/end result as previous WP-CLI dump attempt, when using MariaDB:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

I wasn't actually aware I could just in theory swap `mysql` for `mariadb` even though production uses MySQL. I will stick with that if it's better 👍

[2021-05-26 16:23] dsifford commented on #181
This is definitely odd because I use this project on almost a daily basis and import a database without any issues.

The reason why I am hesitant to change this is because in the case of the partial database export, some of the required tables may or may not be there (example: if you only export your posts table, you'll be missing your options, users, etc tables).

I can't see any reason why your

[2021-05-26 16:26] dsifford commented on #181
I think you might just be dumping your database incorrectly.

This is a screenshot of what a piece of my resultant exported db looks like...

![image](https://user-images.githubusercontent.com/5240018/119696783-86cf6580-be1d-11eb-8266-c0e382dd49d8.png)

As you can see... It drops and recreates the table.

[2021-05-26 17:23] AlecRust commented on #181
Yeah it's strange, as I've used wordpress-starter with success in the past (beats MAMP hands down!).

The export command I'm running is simply `wp db export` which creates an SQL file. But I've also tried with `mysqldump` command and manual export through phpMyAdmin UI. They all fail, some with a slightly different end result of the database.

My dump also has the `DROP TABLE` statements:
![image]

[2021-05-26 18:15] dsifford commented on #181
Can you try setting your `image` to `visiblevc/wordpress:0.26.0-php7.4` in your docker-compose.yml?

[2021-05-26 19:13] AlecRust commented on #181
@dsifford that was it thank you! 🎉  dump now imports with no significant errors and final database works great.

<details>
  <summary>Click to expand!</summary>

[code]
</details>

Not sure why it doesn't work with just `image: visiblevc/wordpress`.

I notice env var `ADMIN_EMAIL` set in `docker-compose.yml` gets overwritten by the import which is unexpected considering the behaviour of the other

[2021-05-26 19:21] AlecRust opened #184 "docker-compose vs docker compose"
The `wordpress-starter` documentation states to use `docker-compose` command to start i.e.

[code]

When this command is run though Docker gives this notice:

[code]

If I switch to using `docker compose` based on this i.e.

[code]

Then I get a different style of output when it's running, and `wordpress-starter` throws an error and exits:

[code]

In my `docker-compose.yml` my wordpress service i

[2021-05-26 22:21] dsifford commented on #181
Recently pushed up a php8 image which is now the default `latest` tag. I have not had a chance to vet the php8 image much because my personal use-case is pinned at 7.4. It's likely due to that.

Re: overridden env vars. That shouldn't happen. Nothing in this project writes to those. They are just read from.

[2021-09-30 08:30] jaschahuisman commented on #184
Hi, I have the same issue here, and in my case there is not even a difference between the usage of `docker compose` or `docker-compose`. Did you find any solution to fix this?

[2021-09-30 08:40] AlecRust commented on #184
Last time I ran a project using this was a few months ago, and I think I just used `docker-compose` which worked at the time. Sounds like maybe Docker has changed since then.

[2021-09-30 13:05] dsifford commented on #184
FYI: I don't have owner privileges to this repo, but this project is going to probably need a new regular maintainer because I don't use wordpress (or this project) in my day to day job anymore.

[2021-09-30 13:25] karellm commented on #184
I'm open to grant owner privileges to whoever is willing to take over. It might need to move out of the visiblevc organization too though.

[2021-10-01 07:04] jaschahuisman commented on #184
It still works on my macos machine. Only having this issue on my Windows 10 x64 machine. Is there someone else who can test/recreate this problem on a Windows machine?

[2021-10-28 09:05] matthiasulrich opened #185 "Ports are not available"
Hi

I have gone through the sample routine exactly. But when I want to start the container with `docker-compose up -d && docker-compose logs -f wordpress`, I get the following error message:

`Error response from daemon: Ports are not available: listen tcp 0.0.0.0:8080: bind: address already in use`.

I removed all containers, restarted Docker, rebooted computer, didn't help though.

Operating-Syt

[2022-02-17 13:28] EdieLemoine opened #186 "ARM support"
I'm running macOS Monterey (12.2.1) on a MacBook Pro (16-inch, 2021) with an Apple M1 Pro chip. I'm currently using `visiblevc/wordpress:latest-php8.0` as a base for an image my team uses to work on our WordPress plugins. It works fine on Intel machines, but it runs through emulation on my machine, with reduced performance.

<img width="404" alt="Screenshot 2022-02-17 at 14 23 41" src="https://use

[2022-02-17 13:35] dsifford commented on #186
@EdieLemoine I have for the most part stopped using this project and don't personally have any plans to continue maintaining it. But would love if someone who still finds it useful to pick up the baton and continue where I left off.

[2022-10-10 21:25] Ohmnitude commented on #122
looking for the solution as well